@import "partials/colors";

@import "partials/navbar";
@import "partials/footer";
@import "partials/app-vue";
@import "partials/home-container";
@import "partials/personal-data";
@import "partials/accordion";
@import "partials/readycheck";
@import "partials/intro-scene";
@import "partials/coding-view";
@import "partials/freelance-view";
@import "partials/person-view";
@import "partials/reference-view";
@import "partials/sales-view";
@import "partials/vue-modal";
@import "partials/login-view";
@import "partials/outro-view";
@import "partials/toggle-button";
@import "partials/logout-button";

@import "partials/breakpoints/breakpoints-homeview";
@import "partials/breakpoints/breakpoints-personview";
@import "partials/breakpoints/breakpoints-accordion";
@import "partials/breakpoints/breakpoints-navbar";
@import "partials/breakpoints/breakpoints-opening";
@import "partials/breakpoints/breakpoints-footer";
@import "partials/breakpoints/breakpoints-page-title";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
