@import "partials/colors";

@import "partials/navbar";
@import "partials/app-vue";
@import "partials/home-container";
@import "partials/personal-data";
@import "partials/accordion";
@import "partials/accordion-reference";
@import "partials/readycheck";
@import "partials/intro-scene";
@import "partials/loading-animation";
@import "partials/reference-container";
@import "partials/coding-view";
@import "partials/freelance-view";
@import "partials/person-view";
@import "partials/reference-view";
@import "partials/sales-view";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
