@charset "UTF-8";
.navbar {
  align-items: center;
  min-width: 840px;
  max-width: 1600px;
  border-right: 2px solid #f2f2f2;
}
.navbar .router-link-active,
.navbar .router-link-exact-active {
  color: #c790c7;
  border-bottom: 3px solid #9e009e;
}
.navbar a {
  color: #f2f2f2;
  font-size: 1.2rem;
  transition: 0.5s;
}
.navbar a:hover {
  color: #0d0d0d !important;
  background: #c790c7;
  transition: 0.5s;
}

.footer-main {
  position: fixed;
  bottom: 0;
  height: max-content;
  width: 100%;
  background: #222222;
}
.footer-main .footer-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #c790c7;
}
.footer-main .footer-contact h5 {
  margin: 0;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
}
.footer-main .footer-contact ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
}
.footer-main .footer-contact ul li {
  display: flex;
  align-items: center;
}
.footer-main .footer-contact ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.footer-main .footer-contact ul li a:hover i {
  transition: 0.5s;
  color: #f2f2f2;
}
.footer-main .footer-contact ul li a i {
  font-size: 2rem;
  transition: 0.5s;
  color: #c790c7;
}

body {
  background-color: #0d0d0d;
}

html,
body,
#app {
  height: 100%;
}

.page-wrapper {
  height: 100%;
  width: 100%;
}

.page-title {
  padding: 80px 0 1rem 0;
  width: 100%;
  color: #79acd9;
  border-bottom: 1px solid #4393d8;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  position: fixed;
  background: #222222;
  z-index: 99;
  border-bottom: 1px solid #e4e4e4;
}

.cv-readycheck {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-main {
  background-color: #e4e4e4;
  height: auto;
  min-height: 100%;
}

.hide {
  display: none !important;
}

.loading-animation-container {
  animation-name: hideContainer;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 4.5s;
}

@keyframes hideContainer {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  background: #e4e4e4;
}
.home-wrapper .home-container {
  background: #e4e4e4;
  height: 100%;
  max-width: 1400px;
  width: 100%;
}
.home-wrapper .home-container .home-header-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #79acd9;
}
.home-wrapper .home-container .home-header-container .home-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.home-wrapper .home-container .home-header-container .home-image {
  width: 150px;
  height: auto;
  padding: 1rem;
}
.home-wrapper .home-container .home-header-container .home-image img {
  object-fit: cover;
  border-radius: 100%;
  width: 100%;
  height: auto;
}
.home-wrapper .home-container .home-intro {
  padding: 2rem;
  border-bottom: 1px solid #79acd9;
}
.home-wrapper .home-container .home-intro p {
  font-size: 1.2rem;
}
.home-wrapper .home-container .home-tech {
  padding: 2rem;
  border-bottom: 1px solid #79acd9;
}
.home-wrapper .home-container .home-tech .tech-header {
  padding-bottom: 1rem;
}
.home-wrapper .home-container .home-tech .tech-container .tech-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 8px;
  list-style: none;
  align-items: center;
}
.home-wrapper .home-container .home-tech .tech-container .tech-list li {
  font-size: 1.1rem;
  line-height: 2;
  color: #222222;
  font-weight: bold;
  width: 100%;
}
.home-wrapper .home-container .home-tech .tech-container .tech-list li i {
  width: 30px;
  font-size: 1.1rem;
  color: #9e009e;
}
.home-wrapper .home-container .home-testing {
  padding: 2rem;
  border-bottom: 1px solid #79acd9;
}
.home-wrapper .home-container .home-testing .testing-header {
  padding-bottom: 1rem;
}
.home-wrapper .home-container .home-testing .testing-container .testing-list {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 8px;
  list-style: none;
  align-items: center;
}
.home-wrapper .home-container .home-testing .testing-container .testing-list li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: 1.1rem;
  line-height: 2;
  color: #222222;
  font-weight: bold;
  width: 100%;
}
.home-wrapper .home-container .home-testing .testing-container .testing-list li i {
  width: 30px;
  font-size: 1.1rem;
  color: #9e009e;
}
.home-wrapper .home-container .home-testing .testing-container .testing-list li .testing-browser-icon {
  margin-left: 20px;
}
.home-wrapper .home-container .home-data-container {
  padding: 2rem;
  margin-bottom: 50px;
}
.home-wrapper .home-container .home-data-container .home-props {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-wrapper .home-container .home-data-container .home-props ul {
  padding-left: 1rem;
  list-style: none;
}
.home-wrapper .home-container .home-data-container .home-props ul li {
  line-height: 2;
  font-size: 1.1rem;
}
.home-wrapper .home-container .home-data-container .home-props ul li::before {
  content: "♦";
  color: #9e009e;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.home-wrapper .home-container .home-data-container .home-props ul li::before {
  content: "" !important;
}
.home-wrapper .home-container .home-data-container .home-props li {
  list-style: square !important;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  margin: 1rem;
  margin-bottom: 50px;
}
.data-container .skill-data-container {
  height: auto;
  width: 100%;
  max-width: 1250px;
  padding: 0 2rem 2rem 2rem;
}
.data-container .skill-data-container h2 {
  color: #0d0d0d;
  padding: 1rem 0;
}
.data-container .skill-data-container h3 {
  padding-top: 20px;
  color: #0d0d0d;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}
.data-container .skill-data-container .skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}
.data-container .skill-data-container .skill-container:last-child {
  margin-bottom: 0;
}
.data-container .skill-data-container .skill-container .skill-icon {
  font-size: 1.7rem;
  padding-right: 10px;
  color: #9e009e;
  width: 10%;
}
.data-container .skill-data-container .skill-container .skill-name {
  text-transform: uppercase;
  width: 25%;
  min-width: 150px;
  color: #0d0d0d;
  text-align: left;
  font-weight: bold;
}
.data-container .skill-data-container .skill-container .skill-rating {
  width: 10%;
  color: #0d0d0d;
  padding-left: 10px;
  font-weight: bold;
}
.data-container .skill-data-container .skill-container .progress-bar {
  width: 75%;
  height: 15px;
  margin-right: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
.data-container .skill-data-container .skill-container .progress-bar .progress {
  height: 100%;
  background-color: #9e009e;
  animation: progressAnimation 1s linear;
  border-right: 1px solid black;
  border-radius: 0;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
}
.accordion-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.accordion-wrapper input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-wrapper .accordion-container {
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  max-width: 1250px;
  min-width: 850px;
}
.accordion-wrapper .tab-control {
  padding: 5px;
  text-align: center;
  background: #b8b8b8;
  color: #9e009e !important;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}
.accordion-wrapper .tab-control:nth-child(1) {
  border-bottom: 1px solid #c790c7;
}
.accordion-wrapper .tab-control span {
  padding: 5px;
}
.accordion-wrapper .tab-control:hover {
  background: #4b4b4b;
  color: #f2f2f2 !important;
}
.accordion-wrapper .tab {
  width: 100%;
  color: #f2f2f2;
  overflow: hidden;
}
.accordion-wrapper .tab input:checked + .tab-label {
  border-bottom: 10px solid #c790c7;
}
.accordion-wrapper .tab .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #4b4b4b;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #c790c7;
}
.accordion-wrapper .tab .tab-label:hover {
  background: #323232;
}
.accordion-wrapper .tab .tab-label::after {
  content: "❯";
  color: #c790c7;
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  margin-left: 10px;
}
.accordion-wrapper .tab .tab-label span:nth-child(2) {
  margin-left: auto;
}
.accordion-wrapper .tab .tab-content-media {
  max-height: 0;
  padding: 0 1em;
  color: #0d0d0d;
  background: #f2f2f2;
  transition: all 0.35s;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.accordion-wrapper .tab .tab-content-media .tab-content-media-grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
.accordion-wrapper .tab .tab-content-media .tab-content-media-grid p {
  padding: 0 2rem 2rem 2rem;
  grid-column: 1/2;
  grid-row: 1/2;
  line-height: 1.8;
}
.accordion-wrapper .tab .tab-content-media .tab-content-media-grid ul {
  padding: 0 2rem 0 2rem;
  grid-column: 1/2;
  grid-row: 2/3;
}
.accordion-wrapper .tab .tab-content-media .tab-content-media-grid ul li {
  list-style: none;
  text-align: left;
  margin-left: 1rem;
  line-height: 1.8;
  font-size: 1.1rem;
}
.accordion-wrapper .tab .tab-content-media .tab-content-media-grid .media-container {
  grid-column: 2/3;
  grid-row: 1/3;
}
.accordion-wrapper .tab ul li::before {
  content: "♦";
  color: #9e009e;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.accordion-wrapper .tab ul li::before {
  content: "" !important;
}
.accordion-wrapper .tab li {
  list-style: square !important;
}
.accordion-wrapper .tab .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #0d0d0d;
  background: #f2f2f2;
  transition: all 0.35s;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.accordion-wrapper .tab .tab-content ul {
  padding-left: 1rem;
  margin-bottom: 10px;
  width: 80%;
}
.accordion-wrapper .tab .tab-content ul li {
  list-style: none;
  text-align: left;
  margin-left: 1rem;
  line-height: 1.8;
  font-size: 1.1rem;
}
.accordion-wrapper .tab .tab-content ul span {
  font-weight: bold;
}
.accordion-wrapper .tab .tab-content ul li::before {
  content: "♦";
  color: #9e009e;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.accordion-wrapper .tab .tab-content ul li::before {
  content: "" !important;
}
.accordion-wrapper .tab .tab-content li {
  list-style: square !important;
}
.accordion-wrapper .tab .tab-content .tab-image-container {
  width: 12%;
}
.accordion-wrapper .tab .tab-content .tab-image-container img {
  height: auto;
  width: 100%;
}
.accordion-wrapper .tab .tab-link-container {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
}
.accordion-wrapper .tab .tab-link-container .tab-link {
  width: max-content;
  background: #e4e4e4;
  color: #9e009e;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
  padding: 1rem;
  border: 1px solid #9e009e;
}
.accordion-wrapper .tab .tab-link-container .tab-link:hover {
  background: #c790c7;
  color: #0d0d0d;
}
.accordion-wrapper .tab .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #4b4b4b;
  cursor: pointer;
}
.accordion-wrapper .tab .tab-close:hover {
  background: #323232;
}
.accordion-wrapper input:checked + .tab-label,
.accordion-wrapper input:checked + .tab-content-media {
  background: #323232;
}
.accordion-wrapper input:checked + .tab-label::after,
.accordion-wrapper input:checked + .tab-content-media::after {
  transform: rotate(90deg);
}
.accordion-wrapper input:checked ~ .tab-content,
.accordion-wrapper input:checked ~ .tab-content-media {
  max-height: 100vh;
  padding: 1em;
}

.intro-container {
  position: absolute;
}

.readycheck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation-name: fadeInReadyCheck;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 15s;
}
.readycheck-container .readycheck-background {
  height: 100%;
  width: 100%;
  background-image: url(https://i.imgur.com/pFFEJDg.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  position: absolute;
  z-index: -1;
  filter: grayscale(0.4);
  animation: moveBackground 300s linear infinite;
}
.readycheck-container .form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  background: rgba(13, 13, 13, 0.4);
  border-top: 3px solid #9e009e;
  border-bottom: 3px solid #9e009e;
}
.readycheck-container .form-wrapper form {
  padding: 1rem;
  min-width: 500px;
  max-width: 1250px;
  height: max-content;
}
.readycheck-container .form-wrapper form h3 {
  color: #f2f2f2;
  padding: 2rem 0 0 0;
  font-size: 2rem;
  text-align: center;
}
.readycheck-container .form-wrapper form p {
  color: #f2f2f2;
  padding: 0 0 2rem 0;
  font-size: 1.1rem;
  text-align: center;
}
.readycheck-container .form-wrapper form .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.readycheck-container .form-wrapper form .input-container .input-checkbox {
  display: block;
  background: #f2f2f2;
  width: 30px;
  height: 30px;
  opacity: 1;
  z-index: 1;
}
.readycheck-container .form-wrapper form .input-container .input-label {
  display: flex;
  justify-content: space-between;
  color: #e4e4e4;
  margin-left: 30px;
  padding-left: 10px;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
}
.readycheck-container .form-wrapper form .input-container .icon-container .input-icon {
  color: #4b4b4b;
  font-size: 1.7rem;
  opacity: 0.3;
}
.readycheck-container .form-wrapper form .input-container input:checked ~ .icon-container .input-icon {
  transition: 0.4s;
  color: #f2f2f2;
  opacity: 1;
}
.readycheck-container .form-wrapper form .input-container input:checked ~ .input-label {
  transition: 0.4s;
  color: #f2f2f2;
}
.readycheck-container .form-wrapper form .input-container input:checked ~ .icon-container .input-icon {
  transition: 0.4s;
}
.readycheck-container .form-wrapper form .button-container {
  display: flex;
  justify-content: center;
}
.readycheck-container .form-wrapper form .button-container button {
  background-color: #f2f2f2;
  color: #9e009e;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  width: max-content;
  margin-top: 25px;
  transition: 0.5s;
  font-weight: 600;
  font-size: 1.2rem;
}
.readycheck-container .form-wrapper form .button-container button:disabled {
  transition: 1s;
  color: transparent;
  background: transparent;
}
.readycheck-container .form-wrapper form .button-container button:disabled:hover {
  color: transparent;
  background: transparent;
}
.readycheck-container .form-wrapper form .button-container button:hover {
  background: #b8b8b8;
  color: #222222;
}

@keyframes fadeInReadyCheck {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hide {
  display: none !important;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: -30px;
  border-radius: 100%;
  border: 1px solid #9e009e;
  height: 25px;
  width: 25px;
  background-color: #f2f2f2;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #b8b8b8;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #9e009e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0px 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-wrapper > form {
  width: 100% !important;
  max-width: 600px !important;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.intro-container p {
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px !important;
  color: #0d0d0d;
}
.intro-container #text01 {
  animation: animated-text 1s steps(22, end) 1s 1 normal both, animated-cursor 600ms steps(22, end) infinite;
  animation-delay: 1s;
}
.intro-container #text02 {
  animation: animated-text 1s steps(22, end) 1s 1 normal both, animated-cursor 600ms steps(22, end) infinite;
  animation-delay: 8s;
}
.intro-container #intro01 {
  animation-name: textBlur;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 7s;
}
.intro-container #intro02 {
  animation-name: textBlur;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 14s;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}
@keyframes animated-cursor {
  from {
    border-right: solid 5px #79acd9;
    border-right-color: #79acd9;
  }
  to {
    border-right: solid 5px #79acd9;
    border-right-color: transparent;
  }
}
@keyframes textBlur {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    color: transparent;
  }
  100% {
    display: none !important;
    opacity: 0;
  }
}
.coding-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e4e4e4;
}
.coding-wrapper .coding-data-container {
  width: 100%;
  max-width: 1600px;
}

.freelance-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e4e4e4;
}
.freelance-wrapper .freelance-data-container {
  width: 100%;
  max-width: 1600px;
}

.personal-data-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #e4e4e4;
}

.reference-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e4e4e4;
}
.reference-wrapper .reference-data-container {
  width: 100%;
  max-width: 1600px;
}

.sales-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sales-wrapper .sales-data-container {
  width: 100%;
  max-width: 1600px;
  background: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.modal-wrapper {
  cursor: pointer;
}
.modal-wrapper .click-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.modal-wrapper .click-text {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  width: 50%;
  background: #9e009e;
  padding: 0.5rem;
  border-radius: 5px;
}
.modal-wrapper .image-frame {
  filter: grayscale(75%);
  transform: scale(1);
  transition: 0.3s;
}
.modal-wrapper .image-frame img {
  height: auto;
  width: 100%;
  padding: 0 2rem 0 0;
}
.modal-wrapper .image-frame:hover {
  filter: grayscale(0%);
  transform: scale(1.01);
  transition: 0.3s;
}
.modal-wrapper .modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}
.modal-wrapper .modal .modal-control {
  display: flex;
  justify-content: space-between;
}
.modal-wrapper .modal .modal-control .modal-header {
  color: #9e009e;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: none;
  margin: 0;
}
.modal-wrapper .modal .modal-control .modal-close-button {
  background: none;
  border: none;
}
.modal-wrapper .modal .modal-control .modal-close-button i {
  color: #9e009e;
  font-size: 1.4rem;
  transition: 0.2s;
  padding: 0.5rem;
}
.modal-wrapper .modal .modal-control .modal-close-button:hover i {
  color: #c790c7;
  transition: 0.2s;
}
.modal-wrapper .modal-content {
  width: 90%;
  max-width: max-content;
  height: max-content;
  max-height: 85%;
  padding: 10px;
  background: #f2f2f2;
}
.modal-wrapper .modal-content .modal-image {
  max-height: 95%;
}

.login-loading-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.login-wrapper {
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/pFFEJDg.jpg");
  background-size: cover;
  background-repeat: repeat-x; /* Repeat horizontally */
  animation: moveBackground 200s linear infinite; /* Adjust speed (10s) as needed */
}
.login-wrapper .login-color-lighten {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.login-wrapper .login-color-lighten .login-container {
  position: relative;
  top: 40%;
  display: flex;
  justify-content: center;
}
.login-wrapper .login-color-lighten .login-container .login-form {
  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: -75px;
}
.login-wrapper .login-color-lighten .login-container .login-form h3 {
  margin-bottom: 25px;
  font-size: 2rem;
}
.login-wrapper .login-color-lighten .login-container .login-form > input {
  font-size: 1.2rem;
}
.login-wrapper .login-color-lighten .login-container .login-form #login-button {
  font-size: 1.2rem;
}
.login-wrapper .login-color-lighten .login-container .login-form .language-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login-wrapper .login-color-lighten .login-container .login-form .language-container input + label {
  color: #4b4b4b;
  font-weight: 500;
  font-size: 1.2rem;
}
.login-wrapper .login-color-lighten .login-container .login-form .language-container input + label i {
  display: none;
}
.login-wrapper .login-color-lighten .login-container .login-form .language-container input:checked + label {
  color: #9e009e;
  font-weight: bold;
}
.login-wrapper .login-color-lighten .login-container .login-form .language-container input:checked + label i {
  display: inline;
}
.login-wrapper .login-color-lighten .login-container .login-form input,
.login-wrapper .login-color-lighten .login-container .login-form button {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
  color: #f2f2f2;
  text-align: center;
  background: rgba(13, 13, 13, 0.6);
}
.login-wrapper .login-color-lighten .login-container .login-form input::placeholder,
.login-wrapper .login-color-lighten .login-container .login-form button::placeholder {
  color: #b8b8b8;
  text-align: center;
}
.login-wrapper .login-color-lighten .login-container .login-form button {
  font-weight: bold;
  color: #c790c7;
  background: rgba(13, 13, 13, 0.8);
  transition: 0.3s;
}
.login-wrapper .login-color-lighten .login-container .login-form button:disabled {
  background: rgba(13, 13, 13, 0.2);
  color: #f2f2f2;
}
.login-wrapper .login-color-lighten .login-container .login-form button:disabled:hover {
  background: rgba(13, 13, 13, 0.2);
  color: #f2f2f2;
}
.login-wrapper .login-color-lighten .login-container .login-form button:hover {
  background-color: #f2f2f2;
  color: #9e009e;
}
.login-wrapper .login-color-lighten .login-container .login-form input:focus {
  outline: none;
  background: rgba(13, 13, 13, 0.7);
}
.login-wrapper .login-color-lighten .login-container .login-form input:focus::placeholder {
  color: transparent;
}
.login-wrapper .login-color-lighten .login-container .login-form .login-loading {
  position: relative;
  top: -265px;
  height: 275px;
  width: 250px;
  background: transparent;
  border-radius: 25px;
  z-index: 2;
}
.login-wrapper .login-color-lighten .login-container .login-form .login-loading p {
  position: absolute;
  top: 170px;
  left: 80px;
  font-weight: bold;
}
.login-wrapper .login-color-lighten .login-container .login-form .login-loading i {
  position: absolute;
  top: 130px;
  left: 120px;
  color: rgba(13, 13, 13, 0.8);
}
.login-wrapper .login-color-lighten .login-container .login-form .login-loading .lazyloader {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader-rotation 0.8s infinite linear;
  animation: loader-rotation 0.8s infinite linear;
  border-left: 3px solid #0d0d0d;
  border-right: 3px solid #0d0d0d;
  border-bottom: 3px solid #0d0d0d;
  border-top: 3px solid transparent;
  border-radius: 100%;
}
.login-wrapper .login-color-lighten .login-container .login-form .error-message {
  color: #ff6347;
  font-weight: bold;
}
.login-wrapper .login-color-lighten .timeout-container {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.login-wrapper .login-color-lighten .timeout-container .timeout-frame {
  width: max-content;
  height: max-content;
  background: rgba(51, 51, 51, 0.6);
  border-radius: 5px;
  padding: 5%;
  margin: 1rem;
}
.login-wrapper .login-color-lighten .timeout-container .timeout-frame h3 {
  font-size: 25px;
  color: #ff6347;
  text-align: center;
  padding-bottom: 20px;
}
.login-wrapper .login-color-lighten .timeout-container .timeout-frame i {
  padding: 1rem;
}
.login-wrapper .login-color-lighten .timeout-container .timeout-frame .countdown-container {
  color: #f2f2f2;
  font-size: 20px;
  text-align: center;
}
.login-wrapper .login-color-lighten .timeout-container .timeout-frame .countdown-container #countdown {
  color: #ff6347;
  font-weight: bold;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes loader-rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.outro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.outro-wrapper .outro-container {
  width: 100%;
  max-width: 1600px;
  background: #e4e4e4;
  padding: 2rem;
  margin-bottom: 50px;
}
.outro-wrapper .outro-container .outro-content-main {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.outro-wrapper .outro-container .outro-content {
  padding: 1rem;
  margin-bottom: 10px;
  border-top: 1px solid #4393d8;
}
.outro-wrapper .outro-container .outro-content h5 {
  color: #4393d8;
  font-size: 1.5rem;
}
.outro-wrapper .outro-container .outro-content ul {
  margin-bottom: 0;
}

.toggle-radio {
  margin-left: 20px;
}
.toggle-radio .separator {
  position: relative;
  top: -13px;
  font-size: 40px;
  color: #222222;
}
.toggle-radio .switch {
  position: relative;
  width: 100px;
  height: 30px;
  text-align: center;
  background: #4393d8;
  transition: all 0.4s ease;
  border-radius: 25px;
}
.toggle-radio input[type=radio] {
  display: none;
}
.toggle-radio .switch label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  line-height: 40px;
  transition: all 0.4s ease;
}
.toggle-radio label[for=de] {
  position: absolute;
  left: 0px;
  height: 20px;
  top: -3px;
}
.toggle-radio label[for=en] {
  position: absolute;
  right: 0px;
  top: -3px;
}
.toggle-radio #en:checked ~ .switch {
  background: #a54ca5;
}
.toggle-radio #de:checked ~ .switch label[for=de] {
  color: #f2f2f2;
}
.toggle-radio #en:checked ~ .switch label[for=en] {
  color: #f2f2f2;
}

.logout-container {
  margin-left: 15px;
}
.logout-container .logout-button {
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  height: 35px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.logout-container .logout-button:hover i,
.logout-container .logout-button span {
  color: #4393d8;
}
.logout-container .logout-button:hover span {
  color: #4393d8;
}
.logout-container .logout-button i {
  color: #f2f2f2;
  font-size: 1.5rem;
  transition: 0.4s;
}
.logout-container .logout-button span {
  color: #f2f2f2;
  font-size: 0.8rem;
  padding-top: 4px;
  padding-left: 0px;
  margin-left: 5px;
  transition: 0.4s;
}

@media (max-width: 1400px) {
  .home-container {
    margin-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .home-container .tech-list {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .home-testing li {
    grid-template-columns: 1fr 2fr !important;
  }
}
@media (max-width: 768px) {
  .home-container .home-tech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home-container .home-tech .tech-list {
    grid-template-columns: 1fr 1fr !important;
    gap: 10px;
  }
  .home-container .home-testing .testing-header {
    text-align: center;
  }
  .home-container .home-testing li {
    grid-template-columns: 1fr 1fr !important;
  }
  .home-container .home-testing li .testing-os-container,
  .home-container .home-testing li .testing-browser-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-container .home-data-container {
    display: flex;
    justify-content: center;
  }
  .home-container .home-data-container .home-props {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 768px) {
  .home-container .home-header-container {
    justify-content: center !important;
  }
  .home-container .home-header-container .home-header {
    padding: 1rem !important;
  }
  .home-container .home-header-container .home-header h1,
  .home-container .home-header-container .home-header h2 {
    font-size: 1.5rem;
  }
  .home-container .home-intro {
    padding: 2rem 1rem !important;
  }
  .home-container .home-intro p {
    margin: 0 !important;
  }
  .home-container .home-tech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem !important;
  }
  .home-container .home-tech .tech-list {
    grid-template-columns: 1fr 1fr !important;
    padding-left: 0 !important;
  }
  .home-container .home-tech .tech-list li {
    line-height: 1.5 !important;
  }
  .home-container .home-testing {
    padding: 2rem 1rem !important;
  }
  .home-container .home-testing .testing-header {
    text-align: center;
    margin: 0;
  }
  .home-container .home-testing .testing-container .testing-list {
    padding: 0 !important;
    text-align: center;
    margin: 0;
  }
  .home-container .home-testing .testing-container .testing-list .testing-os-container,
  .home-container .home-testing .testing-container .testing-list .testing-browser-container {
    display: block;
    width: 100%;
  }
  .home-container .home-testing .testing-container .testing-list li {
    grid-template-columns: 1fr !important;
    margin-bottom: 20px;
  }
  .home-container .home-testing .testing-container .testing-list li .testing-browser-container .testing-browser-icon {
    margin: 0;
  }
  .home-container .home-data-container {
    padding: 2rem 1rem !important;
    display: block;
  }
}
@media (max-width: 576px) {
  .tab-content ul {
    width: 100% !important;
  }
  .tab-content .tab-image-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .personal-data-wrapper .skill-data-container {
    padding: 0 1rem !important;
  }
  .personal-data-wrapper .skill-data-container .skill-container {
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    border-bottom: 1px solid #b8b8b8;
    margin-bottom: 15px !important;
  }
  .personal-data-wrapper .skill-data-container .skill-container .skill-icon {
    width: 50px !important;
    padding-left: 10px !important;
  }
  .personal-data-wrapper .skill-data-container .skill-container .skill-name {
    width: auto !important;
    font-size: 1.3rem;
  }
  .personal-data-wrapper .skill-data-container .skill-container .progress-bar {
    height: 10px !important;
    width: 80% !important;
    margin: 5px 10px 5px 0 !important;
  }
  .personal-data-wrapper .skill-data-container .skill-container .skill-rating {
    width: 15% !important;
    padding-left: 0 !important;
  }
}
@media (max-width: 1200px) {
  .accordion-container .tab .tab-content-media .tab-content-media-grid p,
  .accordion-container .tab .tab-content-media .tab-content-media-grid ul {
    padding: 0;
  }
  .accordion-container .tab .tab-content-media .tab-content-media-grid ul li {
    font-size: 1rem;
  }
  .accordion-container .tab .tab-content-media .tab-content-media-grid .media-container .image {
    padding: 0 0 0 2rem;
  }
}
@media (max-width: 992px) {
  .accordion-container {
    min-width: 0px !important;
  }
  .accordion-container .tab .tab-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .accordion-container .tab .tab-label span {
    width: 100%;
    text-align: center;
  }
  .accordion-container .tab .tab-label span:nth-of-type(2) {
    margin-top: 10px;
  }
  .accordion-container .tab .tab-content-media .tab-content-media-grid {
    grid-template-columns: 1fr 1fr;
  }
  .accordion-container .tab .tab-content-media .tab-content-media-grid p,
  .accordion-container .tab .tab-content-media .tab-content-media-grid ul {
    grid-column: 1/end;
    padding: 0 1rem 0 1rem;
  }
  .accordion-container .tab .tab-content-media .tab-content-media-grid .media-container {
    grid-column: 1/end;
    grid-row: 3;
    padding: 1rem 4rem 0 4rem;
  }
  .accordion-container .tab .tab-content-media .tab-content-media-grid .media-container .image {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .accordion-container .tab-content ul {
    width: 100%;
  }
  .accordion-container .tab-content .tab-media {
    display: none;
  }
  .accordion-container .media-container {
    padding: 0 0.5rem !important;
  }
  .accordion-container .media-container .image-frame {
    height: 50px;
  }
  .accordion-container .media-container .image-frame .image {
    display: none;
  }
}
@media (max-width: 576px) {
  .accordion-container {
    margin: 0 !important;
  }
  .accordion-container p,
  .accordion-container ul {
    padding: 0 !important;
  }
  .accordion-container ul li::before {
    content: "" !important;
  }
  .accordion-container li {
    list-style: square !important;
  }
}
@media (max-width: 576px) {
  .navbar-nav {
    grid-template-columns: 1fr !important;
  }
  .navbar-nav .nav-item {
    margin: 0 !important;
  }
  .navbar-nav .nav-item a {
    font-size: 1rem !important;
    gap: none !important;
  }
}
@media (max-width: 992px) {
  .logout-container {
    padding-right: 10px;
  }
  .navbar-wrapper {
    position: static;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .navbar-wrapper .navbar {
    width: 100%;
    order: 3;
    border-right: none;
  }
  .navbar-wrapper .navbar .navbar-nav {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .navbar-wrapper .navbar .navbar-nav .nav-item {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .navbar-wrapper .navbar .navbar-nav .nav-item a {
    box-shadow: 0 1px 0 #4b4b4b;
    font-size: 1.1rem;
  }
  .navbar-wrapper .navbar .router-link-active {
    box-shadow: none !important;
    background-color: #4b4b4b;
  }
  .navbar-wrapper .navbar .router-link-active:hover {
    color: #c790c7 !important;
  }
  .navbar-wrapper .toggle-radio {
    position: absolute;
    top: 20px;
    right: 120px;
    z-index: 1;
  }
  .navbar-wrapper .logout-container {
    position: absolute;
    top: 17px;
    right: 0;
    z-index: 1;
  }
  .navbar-wrapper .navbar-collapse {
    text-align: center;
  }
  .navbar-wrapper .navbar-collapse a {
    padding: 0.5rem 0 !important;
  }
  .navbar-wrapper .container-fluid {
    justify-content: flex-start;
  }
  .navbar-wrapper .container-fluid .navbar-toggler {
    margin: 0.5rem;
    border: none;
    --bs-navbar-color: #f2f2f2;
    --bs-navbar-toggler-focus-width: 0.1rem;
  }
}
@media (max-width: 1200px) {
  .navbar {
    min-width: max-content;
  }
  .navbar .nav-item a {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .intro-container p {
    font-size: 1rem;
  }
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .readycheck-container .form-wrapper form {
    min-width: 0 !important;
  }
  .readycheck-container .form-wrapper form h3 {
    font-size: 1.6rem !important;
    padding: 2rem 0.5rem;
  }
  .readycheck-container .form-wrapper form .input-container .input-checkbox {
    height: 20px;
    width: 20px;
  }
  .readycheck-container .form-wrapper form .input-container .input-label {
    padding: 0 0 0 10px !important;
    font-size: 1.1rem !important;
  }
}
@media (max-width: 576px) {
  .footer-main h5 {
    display: none;
  }
  .footer-main ul {
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  .page-title {
    padding-top: 1rem;
    font-size: 2.4rem;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .outro-container {
    padding: 0 !important;
  }
  .outro-container h3,
  .outro-container .outro-content-main {
    padding: 1rem 1rem 0 1rem;
  }
  .outro-container .outro-content ul {
    padding-left: 1rem !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=main.css.map */