@charset "UTF-8";
.navbar {
  align-items: center;
  max-width: 1920px;
}
.navbar .router-link-active,
.navbar .router-link-exact-active {
  color: #ff6347;
  border-bottom: 1px solid #ff6347;
}
.navbar a {
  color: #f2f2f2;
  font-size: 1.2rem;
  transition: 0.5s;
}
.navbar a:hover {
  color: #0d0d0d !important;
  background: #ff6347;
  transition: 0.5s;
}

.footer-main {
  position: fixed;
  bottom: 0;
  height: max-content;
  width: 100%;
  background: #222222;
}
.footer-main .footer-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #ff6347;
}
.footer-main .footer-contact h5 {
  margin: 0;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
}
.footer-main .footer-contact ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
}
.footer-main .footer-contact ul li {
  display: flex;
  align-items: center;
}
.footer-main .footer-contact ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.footer-main .footer-contact ul li a:hover i {
  transition: 0.5s;
  color: #f2f2f2;
}
.footer-main .footer-contact ul li a i {
  font-size: 2rem;
  transition: 0.5s;
  color: #ff6347;
}

body {
  background-color: #0d0d0d;
}

html,
body,
#app {
  height: 100%;
}

.page-wrapper {
  height: 100%;
  width: 100%;
}

.page-title {
  margin: 2rem 0 0;
  color: #79acd9;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: #222222;
  border-bottom: 1px solid #ff6347;
}

.cv-readycheck {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0d0d0d;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-main {
  background-color: #e4e4e4;
  height: 100%;
}

.hide {
  display: none !important;
}

.loading-animation-container {
  animation-name: hideContainer;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 4.5s;
}

@keyframes hideContainer {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
.home-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home-wrapper .home-container {
  background: #e4e4e4;
  height: 100%;
  max-width: 1920px;
  width: 100%;
}
.home-wrapper .home-container .home-header-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #79acd9;
}
.home-wrapper .home-container .home-header-container .home-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.home-wrapper .home-container .home-header-container .home-image {
  width: 150px;
  height: auto;
  padding: 1rem;
}
.home-wrapper .home-container .home-header-container .home-image img {
  object-fit: cover;
  border-radius: 100%;
  width: 100%;
  height: auto;
}
.home-wrapper .home-container .home-intro {
  padding: 2rem;
  border-bottom: 1px solid #79acd9;
}
.home-wrapper .home-container .home-intro p {
  font-size: 1.2rem;
}
.home-wrapper .home-container .home-tech {
  padding: 2rem;
  border-bottom: 1px solid #79acd9;
}
.home-wrapper .home-container .home-tech .tech-header {
  padding-bottom: 1rem;
}
.home-wrapper .home-container .home-tech .tech-container .tech-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 8px;
  list-style: none;
  align-items: center;
}
.home-wrapper .home-container .home-tech .tech-container .tech-list li {
  font-size: 1.1rem;
  line-height: 2;
  color: #222222;
  font-weight: bold;
  width: 100%;
}
.home-wrapper .home-container .home-tech .tech-container .tech-list li i {
  padding-right: 1rem;
  font-size: 1.1rem;
  color: #e02200;
}
.home-wrapper .home-container .home-data-container {
  padding: 2rem;
}
.home-wrapper .home-container .home-data-container .home-props {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-wrapper .home-container .home-data-container .home-props ul {
  padding-left: 1rem;
  list-style: none;
}
.home-wrapper .home-container .home-data-container .home-props ul li {
  line-height: 2;
  font-size: 1.1rem;
}
.home-wrapper .home-container .home-data-container .home-props ul li::before {
  content: "♦";
  color: #ff6347;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
}
.data-container .skill-data-container {
  height: auto;
  width: 100%;
  max-width: 1250px;
  min-width: 850px;
  padding: 1rem;
}
.data-container .skill-data-container h2 {
  color: #0d0d0d;
  padding: 1rem 0;
}
.data-container .skill-data-container h3 {
  padding-top: 20px;
  color: #0d0d0d;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}
.data-container .skill-data-container .skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  flex-wrap: nowrap;
}
.data-container .skill-data-container .skill-container:last-child {
  margin-bottom: 0;
}
.data-container .skill-data-container .skill-container .skill-icon {
  font-size: 1.7rem;
  padding-right: 10px;
  color: #a68365;
  width: 5%;
}
.data-container .skill-data-container .skill-container .skill-name {
  text-transform: uppercase;
  width: 25%;
  min-width: 150px;
  color: #0d0d0d;
  text-align: left;
}
.data-container .skill-data-container .skill-container .skill-rating {
  width: 10%;
  color: #0d0d0d;
  padding-left: 10px;
  font-weight: bold;
}
.data-container .skill-data-container .skill-container .progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
.data-container .skill-data-container .skill-container .progress-bar .progress {
  height: 100%;
  background-color: #ff6347;
  animation: progressAnimation 1s linear;
  border-right: 1px solid black;
  border-radius: 0;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
}
.accordion-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.accordion-wrapper input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-wrapper .accordion-container {
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  max-width: 1250px;
  min-width: 850px;
}
.accordion-wrapper .tab {
  width: 100%;
  color: #f2f2f2;
  overflow: hidden;
}
.accordion-wrapper .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #4b4b4b;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #ff6347;
}
.accordion-wrapper .tab-label:hover {
  background: #323232;
}
.accordion-wrapper .tab-label::after {
  content: "❯";
  color: #ff6347;
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  margin-left: 10px;
}
.accordion-wrapper .tab-label span:nth-child(2) {
  margin-left: auto;
}
.accordion-wrapper .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #0d0d0d;
  background: #f2f2f2;
  transition: all 0.35s;
  display: flex;
  justify-content: space-between;
}
.accordion-wrapper .tab-content ul {
  padding-left: 1rem;
  list-style: none;
}
.accordion-wrapper .tab-content ul li {
  text-align: left;
  margin-left: 1rem;
  line-height: 1.8;
  font-size: 1.1rem;
}
.accordion-wrapper .tab-content ul span {
  font-weight: bold;
}
.accordion-wrapper .tab-content ul li::before {
  content: "♦";
  color: #ff6347;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.accordion-wrapper .tab-content .tab-media img {
  height: 100px;
  width: 100px;
}
.accordion-wrapper .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #4b4b4b;
  cursor: pointer;
}
.accordion-wrapper .tab-close:hover {
  background: #181818;
}
.accordion-wrapper input:checked + .tab-label {
  background: #181818;
}
.accordion-wrapper input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.accordion-wrapper input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.accordion-reference-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.accordion-reference-wrapper ul {
  list-style: none;
}
.accordion-reference-wrapper ul li::before {
  content: "♦";
  color: #ff6347;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.accordion-reference-wrapper .accordion-reference-container {
  max-width: 1250px;
  min-width: 850px;
}
.accordion-reference-wrapper .accordion-reference-container input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-reference-wrapper .accordion-reference-container .row {
  display: flex;
}
.accordion-reference-wrapper .accordion-reference-container .row .col {
  flex: 1;
}
.accordion-reference-wrapper .accordion-reference-container .row .col:last-child {
  margin-left: 1em;
}
.accordion-reference-wrapper .accordion-reference-container .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.accordion-reference-wrapper .accordion-reference-container .tab {
  width: 100%;
  color: #f2f2f2;
  overflow: hidden;
  border-bottom: 1px solid #ff6347;
}
.accordion-reference-wrapper .accordion-reference-container .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #4b4b4b;
  font-weight: bold;
  cursor: pointer;
}
.accordion-reference-wrapper .accordion-reference-container .tab-label:hover {
  background: #323232;
}
.accordion-reference-wrapper .accordion-reference-container .tab-label::after {
  content: "❯";
  color: #ff6347;
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.accordion-reference-wrapper .accordion-reference-container .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #4b4b4b;
  background: #f2f2f2;
  transition: all 0.35s;
}
.accordion-reference-wrapper .accordion-reference-container .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #4b4b4b;
  cursor: pointer;
}
.accordion-reference-wrapper .accordion-reference-container .tab-close:hover {
  background: #323232;
}
.accordion-reference-wrapper .accordion-reference-container input:checked + .tab-label {
  background: #181818;
}
.accordion-reference-wrapper .accordion-reference-container input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.accordion-reference-wrapper .accordion-reference-container input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.intro-container {
  position: absolute;
}

.readycheck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation-name: fadeInReadyCheck;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 25s;
}
.readycheck-container .form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  background: #222222;
}
.readycheck-container .form-wrapper form {
  padding: 1rem;
  min-width: 500px;
  max-width: 1250px;
  height: max-content;
}
.readycheck-container .form-wrapper form h3 {
  color: #f2f2f2;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
}
.readycheck-container .form-wrapper form .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.readycheck-container .form-wrapper form .input-container .input-checkbox {
  display: block;
  background: #f2f2f2;
  width: 30px;
  height: 30px;
  opacity: 1;
  z-index: 1;
}
.readycheck-container .form-wrapper form .input-container .input-label {
  color: #a68365;
  padding: 1rem;
  margin-left: 10px;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
}
.readycheck-container .form-wrapper form .input-container .icon-container .input-icon {
  color: #1a1a1a;
  font-size: 1.5rem;
}
.readycheck-container .form-wrapper form .input-container input:checked ~ .icon-container .input-icon {
  transition: 0.6s;
  color: #f2f2f2;
}
.readycheck-container .form-wrapper form .input-container input:checked ~ .input-label {
  transition: 0.6s;
  color: #ff6347;
}
.readycheck-container .form-wrapper form .input-container input:checked ~ .icon-container .input-icon {
  transition: 0.6s;
  font-size: 2rem;
}
.readycheck-container .form-wrapper form .button-container {
  display: flex;
  justify-content: flex-start;
}
.readycheck-container .form-wrapper form .button-container button {
  background-color: #222222;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  padding: 1rem;
  width: 100%;
  margin-top: 25px;
  transition: 1s;
  font-weight: 600;
  font-size: 1.2rem;
}
.readycheck-container .form-wrapper form .button-container button:disabled {
  transition: 1s;
  color: #222222;
  background: #222222;
  border: 1px solid #222222;
}
.readycheck-container .form-wrapper form .button-container button:disabled:hover {
  background: #222222;
}
.readycheck-container .form-wrapper form .button-container button:hover {
  background: #0d0d0d;
}

@keyframes fadeInReadyCheck {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hide {
  display: none !important;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.intro-container p {
  white-space: nowrap;
  overflow: hidden;
  font-size: 25px;
  color: #f2f2f2;
}
.intro-container #text01 {
  animation: animated-text 2s steps(22, end) 1s 1 normal both, animated-cursor 600ms steps(22, end) infinite;
  animation-delay: 5s;
}
.intro-container #text02 {
  animation: animated-text 2s steps(22, end) 1s 1 normal both, animated-cursor 600ms steps(22, end) infinite;
  animation-delay: 15s;
}
.intro-container #intro01 {
  animation-name: textBlur;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 13s;
}
.intro-container #intro02 {
  animation-name: textBlur;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 23s;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}
@keyframes animated-cursor {
  from {
    border-right: solid 5px #79acd9;
    border-right-color: #79acd9;
  }
  to {
    border-right: solid 5px #79acd9;
    border-right-color: transparent;
  }
}
@keyframes textBlur {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.loading-animation-container div {
  font-size: 50px;
}
.loading-animation-container #load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  z-index: 11;
}
.loading-animation-container #load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #ff6347;
}
.loading-animation-container #load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.loading-animation-container #load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.loading-animation-container #load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.loading-animation-container #load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
.loading-animation-container #load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.loading-animation-container #load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

.reference-grid-container {
  display: grid;
  grid-template-columns: 1fr;
}
.reference-grid-container .reference-container {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding: 1rem;
  align-items: center;
  border-radius: 10px;
  color: #0d0d0d;
}
.reference-grid-container .description-container {
  padding-right: 1rem;
}
.reference-grid-container .reference-info {
  text-align: left;
}
.reference-grid-container .media-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 4px 10px 10px -2px rgba(0, 0, 0, 0.3);
}
.reference-grid-container p {
  width: 100%;
  display: inline-block;
  padding-bottom: 2rem;
  hyphens: auto;
  word-wrap: break-word;
  line-height: 1.4;
  font-size: 1.1rem;
  border-bottom: 1px solid #0d0d0d;
}
.reference-grid-container h2 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.reference-grid-container h3 {
  padding: 1rem 0 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.reference-grid-container h3,
.reference-grid-container ul {
  text-align: left;
  padding-left: 1rem;
}
.reference-grid-container h3 li,
.reference-grid-container ul li {
  font-size: 1.1rem;
  line-height: 1.8;
}
.reference-grid-container img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.coding-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e4e4e4;
}
.coding-wrapper .coding-data-container {
  width: 100%;
  max-width: 1920px;
}

.freelance-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e4e4e4;
}
.freelance-wrapper .freelance-data-container {
  width: 100%;
  max-width: 1920px;
}

.personal-data-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #e4e4e4;
}

.reference-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e4e4e4;
}
.reference-wrapper .reference-data-container {
  width: 100%;
  max-width: 1920px;
}

.sales-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f2f2f2;
}
.sales-wrapper .sales-data-container {
  width: 100%;
  max-width: 1920px;
  background: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=main.css.map */