@import "breakpoint-variables";

@media (max-width: $bp-xxl) {
  .home-container {
    margin-bottom: 50px;
  }
}

@media (max-width: $bp-lg) {
  .home-container {
    .tech-list {
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }

  .home-testing {
    li {
      grid-template-columns: 1fr 2fr !important;
    }
  }
}

@media (max-width: $bp-md) {
  .home-container {
    .home-tech {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .tech-list {
        grid-template-columns: 1fr 1fr !important;
        gap: 10px;
      }
    }

    .home-testing {
      .testing-header {
        text-align: center;
      }
      li {
        grid-template-columns: 1fr 1fr !important;

        .testing-os-container,
        .testing-browser-container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .home-data-container {
      display: flex;
      justify-content: center;

      .home-props {
        grid-template-columns: 1fr !important;
      }
    }
  }
}

@media (max-width: $bp-md) {
  .home-container {
    .home-header-container {
      justify-content: space-between !important;

      .home-header {
        padding: 1rem !important;

        h1,
        h2 {
          font-size: 1.5rem;
        }
      }
    }

    .home-intro {
      padding: 2rem 1rem !important;

      p {
        margin: 0 !important;
      }
    }

    .home-tech {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem 1rem !important;

      .tech-list {
        grid-template-columns: 1fr !important;
        padding-left: 0 !important;

        li {
          line-height: 1.5 !important;
        }
      }
    }

    .home-testing {
      padding: 2rem 1rem !important;

      .testing-header {
        text-align: left;
        margin: 0;
      }
      .testing-container {
        .testing-list {
          .testing-os-container,
          .testing-browser-container {
            display: block;
          }

          li {
            grid-template-columns: 1fr !important;
            margin-bottom: 20px;

            .testing-browser-container {
              width: 80%;
              border-bottom: 1px solid $clr-accent-b;

              .testing-browser-icon {
                margin: 0;
              }
            }
          }
        }
      }
    }

    .home-data-container {
      padding: 2rem 1rem !important;
      display: block;
    }
  }
}
