@import "breakpoint-variables";

@media (max-width: $bp-lg) {
  .page-title {
    padding-top: 0 !important;
  }

  .navbar-wrapper {
    position: static;
    .container-fluid {
      justify-content: center;

      button {
        margin-bottom: 5px;
      }

      .navbar-nav li {
        a {
          padding-left: 15px !important;
        }
      }
    }
  }
}
