@import "breakpoint-variables";

@media (max-width: $bp-xl) {
  .reference-container {
    grid-template-columns: 1fr 1fr !important;

    .description-container {
      grid-column: 1 / end;
    }

    .media-container {
      grid-column: 1 / end;
      width: 100%;
    }
  }
}

@media (max-width: $bp-lg) {
  .accordion-container,
  .accordion-reference-container {
    min-width: 0px !important;

    .tab {
      .tab-label {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        span {
          width: 100%;
          text-align: center;
        }

        span:nth-of-type(2) {
          margin-top: 10px;
        }
      }
    }
  }

  .modal {
    .modal-header {
      font-size: 1rem !important;
    }
  }
}

@media (max-width: $bp-md) {
  .accordion-container {
    .tab-content {
      ul {
        width: 100%;
      }
      .tab-media {
        display: none;
      }
    }
  }
}

@media (max-width: $bp-sm) {
  .accordion-container,
  .accordion-reference-container {
    margin: 0 !important;

    .tab-content {
      padding: 0 5px !important;

      ul,
      .tab-media {
        margin-top: 1rem !important;

        li {
          border-bottom: 1px solid $clr-secondary-dark;
          margin-bottom: 5px;
        }
      }

      .tab-link-container {
        margin-bottom: 20px;
      }
    }
  }
}
