@use "../abstracts/" as *;

// $bp-sm: 576px;
@media (max-width: $bp-sm) {
  .home-wrapper {
    padding: 60px 0 0 0;
    .home-container {
      .home-header-container {
        flex-direction: column;
        margin: 0;

        .home-image {
          display: flex;
          justify-content: center;
          width: 100%;
          padding: 0;

          img {
            max-width: 300px;
          }
        }

        .home-header {
          padding-top: 2rem;

          h2 {
            font-size: 2.2rem;
            padding: 0;
            margin: 0;
          }

          h3 {
            padding: 0 0 2rem 0;
            margin: 0;
          }
        }
      }

      .home-intro {
        .intro-header {
          margin-bottom: 1rem;
        }

        .intro-text {
          margin: 0;
        }
      }

      .home-tech {
        padding: 0 1rem;

        .tech-container {
          padding: 2rem 0;

          .tech-list {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .personal-data-wrapper {
    .skill-data-container {
      padding: 2rem 1rem;
      .skill-section-container {
        .skill-section-open {
          transform: translateX(0px);
          background: var(--clr-primary);
          border-radius: 0.375rem;
          border: 1px solid var(--clr-primary-light);
          letter-spacing: 3px;

          ~ .bracket {
            height: 415px;
          }
        }

        .section-label {
          display: block;
          text-align: center;
          width: 100%;
          padding: 5px;
          &::before {
            content: none;
            margin: 0;
            display: none;
          }
        }
        .section-description {
          padding: 0 !important;
          margin: 0.5rem 0;
          font-size: 14px;
          text-align: center;
        }
        .bracket {
          .skill-container {
            .render-decider {
              grid-template-columns: 1fr 11fr;
            }
          }
        }
      }
    }
  }

  .timeline-wrapper {
    .desc-container {
      padding: 1rem 0;
      .timeline-description {
        font-size: 15px;
        padding: 0 5px;
      }
    }

    .timeline-container {
      .timeline-item {
        .timeline-marker {
          &::before {
            height: 5px;
            width: 5px;
            top: 0px;
            left: -5px;
          }

          &::after {
            width: 1px;
            top: 24px;
            left: -3px;
            margin: 5px 0;
          }
        }
      }

      .timeline-active {
        .timeline-period {
          letter-spacing: 2px !important;
        }

        .timeline-content {
          .timeline-header {
            padding: 1rem 0 !important;
            margin: 0;
          }
          .subtopics {
            height: max-content !important;
          }
          .success {
            font-size: 14px;
            height: 75px !important;
          }
        }
      }

      .timeline-focus {
        .timeline-period {
          letter-spacing: 2px !important;
        }
        .timeline-content {
          .timeline-header {
            padding: 1rem 0 !important;
            margin: 0;
          }
        }
      }
    }
  }

  .reference-wrapper {
    .reference-data-container {
      .page-title {
        padding: 80px 0 0 0;
      }
      .ref-wrapper {
        .ref-container {
          .ref-item {
            .grid-container {
              padding: 0 1rem;
              .grid-item-1 {
                padding: 0;
                .ref-text {
                  margin-bottom: 2rem;
                }
              }
              .grid-item-2 {
                padding: 0;
                margin-bottom: 2rem;
              }
              .grid-item-3 {
                .ref-subtopics {
                  margin-bottom: 2rem;
                  font-size: 12px;
                  .ref-topic {
                    margin: 0;
                  }
                }

                .btn-container {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  button {
                    margin: 0 0 0.5rem 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // outro
  .outro-wrapper {
    .page-title {
      padding: 100px 0 2rem 0;
      margin: 0;
    }

    .outro-container {
      padding: 0;

      .outro-content-main {
        padding: 0 2rem;
      }

      .outro-follow-msg {
        padding: 2rem 0;
        a {
          width: 100%;
          border-radius: 0px;
          border: none;
          i {
            font-size: 1.7rem;
          }
        }
      }

      .outro-content {
        h5 {
          padding: 0;
        }
      }
    }
  }

  .modal-container {
    .modal-header {
      font-size: 16px !important;
    }
    .btn-modal-close {
      margin-right: 0.5rem;
      font-size: 24px !important;
      margin-right: 0.5rem;
      i {
        font-size: 24px;
      }
    }
  }
}
