@use "../abstracts/" as *;

// $bp-xl: 1200px;
@media (max-width: $bp-xl) {
  .navbar-wrapper {
    .navbar {
      .container-fluid {
        .collapse,
        .navbar-collapse {
          ul {
            justify-content: flex-start;
            padding: 0;
          }
        }
      }
    }
  }

  .timeline-wrapper {
    .timeline-container {
      max-width: 950px;
    }
  }

  .reference-wrapper {
    .reference-data-container {
      .ref-wrapper {
        .ref-container {
          .ref-item {
            .grid-container {
              .grid-item-1 {
                .ref-text {
                  font-size: 13px;
                }
              }
              .grid-item-3 {
                .ref-subtopics {
                  font-size: 13px;
                }
              }
              .btn-container {
                button {
                  padding: 4px 6px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
