@use "../abstracts/" as *;

// $bp-lg: 992px;
@media (max-width: $bp-lg) {
  .timeline-wrapper {
    .desc-container {
      padding: 2rem 0;
      .timeline-description {
        font-size: 18px;
      }
    }

    .timeline-container {
      max-width: 750px;
      padding: 2rem 0 2rem 1rem;

      .timeline-active {
        border-right: none;
        .timeline-content {
          .timeline-header {
            font-size: 1.3rem !important;
            letter-spacing: 0px !important;
          }
          .subtopics {
            line-height: 2;

            .topic {
              font-size: 13px;
              line-height: 1.5;
            }
          }

          .success {
            font-size: 14px;
          }

          .btn-reference {
            font-size: 14px;
            padding: 4px 8px;
          }
        }
      }
    }
  }

  .reference-wrapper {
    .reference-data-container {
      .ref-wrapper {
        .ref-container {
          .ref-item {
            .grid-container {
              padding: 0 2rem;
              .grid-item-1 {
                text-align: center;
                grid-row: 1/2;
                grid-column: 1/3;
                .ref-text {
                  font-size: 13px;
                }
              }
              .grid-item-2 {
                grid-row: 2/3;
                grid-column: 1/3;
                padding: 2rem 4rem;
              }
              .grid-item-3 {
                text-align: center;
                grid-row: 3/4;
                grid-column: 1/3;
                .ref-subtopics {
                  font-size: 13px;
                  list-style: none;
                }
              }
              .btn-container {
                button {
                  padding: 4px 6px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
