@use "../abstracts/" as *;

@media (max-width: $bp-sm) {
  .navbar-nav {
    grid-template-columns: 1fr !important;
    .nav-item {
      margin: 0 !important;
      a {
        font-size: 1rem !important;
        gap: none !important;
      }
    }
  }
}

@media (max-width: $bp-lg) {
  .logout-container {
    padding-right: 10px;
  }

  .navbar-wrapper {
    position: static;
    flex-wrap: wrap;
    justify-content: flex-end;

    .navbar {
      width: 100%;
      order: 3;
      border-right: none;

      .navbar-nav {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .nav-item {
          margin-bottom: 10px;
          margin-right: 10px;
          a {
            box-shadow: 0 1px 0 var(--clr-primary-light3);
            font-size: 1.1rem;
          }
        }
      }

      .router-link-active {
        box-shadow: none !important;
        background-color: var(--clr-primary-light3);
        &:hover {
          color: var(--clr-accent-g) !important;
        }
      }
    }

    .toggle-radio {
      position: absolute;
      top: 20px;
      right: 120px;
      z-index: 1;
    }

    .logout-container {
      position: absolute;
      top: 17px;
      right: 0;
      z-index: 1;
    }

    .navbar-collapse {
      text-align: center;
      a {
        padding: 0.5rem 0 !important;
      }
    }

    .container-fluid {
      justify-content: flex-start;

      .navbar-toggler {
        margin: 0.5rem;
        border: none;
        --bs-navbar-color: #f2f2f2;
        --bs-navbar-toggler-focus-width: 0.1rem;
      }
    }
  }
}

@media (max-width: $bp-xl) {
  .navbar {
    min-width: max-content;

    .nav-item {
      a {
        font-size: 1rem;
      }
    }
  }
}
