@use "../abstracts/" as *;

// $bp-md: 768px;
@media (max-width: $bp-md) {
  .navbar-wrapper {
    justify-content: flex-start;

    .container-fluid {
      .offcanvas {
        background: rgba($color: $clr-primary, $alpha: 0.8);
        backdrop-filter: blur(5px);

        .offcanvas-body {
          .navbar-nav {
            .nav-toggle-theme {
              padding: 1.5rem 2rem 0 2rem;
              margin-top: 1.5rem;
              border-top: 1px solid var(--clr-secondary-dark2);
            }
            .nav-item {
              a {
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
  }

  .home-wrapper {
    padding: 60px 0 0 0;
    .home-container {
      .home-header-container {
        flex-direction: column;
        margin: 0;

        .home-image {
          display: flex;
          justify-content: center;
          width: 100%;
          padding: 0;

          img {
            max-width: 300px;
          }
        }

        .home-header {
          padding-top: 2rem;

          h2 {
            padding: 0;
            margin: 0;
          }

          h3 {
            padding: 0 0 2rem 0;
            margin: 0;
          }
        }
      }

      .home-intro {
        .intro-header {
          margin-bottom: 1rem;
        }

        .intro-text {
          margin: 0;
          font-size: 15px;
        }
      }

      .home-tech {
        padding: 0 1rem;

        .tech-container {
          padding: 2rem 0;

          .tech-list {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .personal-data-wrapper {
    .skill-data-container {
      padding: 1rem 2rem 0 2rem;

      .skill-section-container {
        .skill-section-open {
          transform: translateX(0px);
        }
        .section-description {
          padding-left: 0 !important;
        }
        .bracket {
          .skill-container {
            .render-decider {
              grid-template-columns: 1fr 11fr;
            }
          }
        }
      }
    }
  }

  .timeline-wrapper {
    .timeline-container {
      max-width: 560px;
      padding: 2rem 0 2rem 1rem;

      .timeline-item {
        .timeline-marker {
          &::before {
            height: 10px;
            width: 10px;
            top: 0px;
            left: -10px;
          }

          &::after {
            width: 2px;
            top: 24px;
            left: -6px;
            margin: 5px 0;
          }
        }
      }

      .timeline-active {
        padding-left: 1rem !important;
        .timeline-period {
          font-size: 14px !important;
        }

        .timeline-content {
          .timeline-header {
            font-size: 1.1rem !important;
            letter-spacing: 0px !important;
          }
          .subtopics {
            line-height: 1.8;
            padding-right: 1rem;
            .topic {
              text-indent: -15px; /* Pull the first line to the left */
              padding-left: 1rem; /* Indent the entire block of text */

              font-size: 12px;
              padding-right: 0.5rem;
            }
          }

          .success {
            font-size: 14px;
            height: 50px !important;
          }
        }
      }

      .timeline-focus {
        padding-left: 1rem !important;
        .timeline-period {
          font-size: 14px !important;
        }

        .timeline-header {
          font-size: 1.1rem !important;
          letter-spacing: 0px !important;
        }
      }
    }
  }

  .reference-wrapper {
    .reference-data-container {
      .ref-wrapper {
        .ref-container {
          .ref-item {
            .grid-container {
              padding: 0 1rem;
              .grid-item-2 {
                padding: 1rem 2rem;
              }
            }
          }
        }
      }
    }
  }

  .footer-main {
    .footer-contact {
      ul {
        padding: 0;
      }
    }
  }
}
