body {
  background-color: white;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.cv-readycheck {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #222;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

.loading-animation-container {
  animation-name: hideContainer;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 4.5s;
}

@keyframes hideContainer {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
