body {
  background-color: $clr-primary;
}

html,
body,
#app {
  height: 100%;
}

.page-wrapper {
  height: 100%;
  width: 100%;
}

.page-title {
  margin: 2rem 0;
  color: $clr-accent-a;
  text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  background: $clr-primary-light2;
  border-bottom: 1px solid $clr-accent-e;
}

.cv-readycheck {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $clr-primary;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-main {
  background-color: $clr-secondary-dark;
  height: 100%;
}

.hide {
  display: none !important;
}

.loading-animation-container {
  animation-name: hideContainer;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 4.5s;
}

@keyframes hideContainer {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
