@use "../abstracts/" as *;

html,
body,
#app {
  height: 100%;
}

.page-wrapper {
  height: 100%;
  width: 100%;
}

.page-title {
  padding: 150px 0 1rem 0;
  width: 100%;
  color: $clr-accent;
  text-align: center;
  font-size: 3rem;
  background-clip: text;
  font-family: PoppinsBold;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  position: fixed;
  background: rgba($color: $clr-primary, $alpha: 0.9);
  z-index: 99;
}

.cv-readycheck {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $clr-secondary;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-main {
  background: linear-gradient(
    to bottom,
    var(--clr-primary),
    var(--clr-primary-light2)
  );
  // background-color: var(--clr-primary);
  height: auto;
  min-height: 100%;
}

.hide {
  display: none !important;
}

.loading-animation-container {
  animation-name: hideContainer;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 4.5s;
}

@keyframes hideContainer {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
