$clr-primary: #0d0d0d;
$clr-primary-light: #1a1a1a;
$clr-primary-light2: #222222;
$clr-primary-light3: #4b4b4b;
$clr-primary-light4: #757575;
$clr-secondary: #f2f2f2;
$clr-secondary-dark: #e4e4e4;
$clr-secondary-dark2: #b8b8b8;
$clr-accent: #4393d8;
$clr-accent-a: #79acd9;
$clr-accent-b: #a0bed9;
$clr-accent-c: #a68365;
$clr-accent-d: #8f7259;
$clr-accent-e: #9e009e;
$clr-accent-f: #a54ca5;
$clr-accent-g: #c790c7;
$clr-success-a: #00ca00;
$clr-success-b: #6beb6b;
$clr-success-c: #adffad;
$clr-error: #ff6347;
