$color-primary: #0d0d0d;
$color-primary-light: #1a1a1a;
$color-primary-light2: #222222;
$color-secondary: #f2f2f2;
$color-secondary-dark: #e4e4e4;
$color-secondary-dark2: #b8b8b8;
$color-accent-a: #79acd9;
$color-accent-b: #a0bed9;
$color-accent-c: #a68365;
$color-accent-d: #8f7259;
