@use "../abstracts/" as *;

.dev,
.timeline-container {
  padding: 150px 2rem;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  color: white;

  .timeline-item {
    position: relative;
    padding-left: 2rem;
    transition: all 0.5s;

    .timeline-marker {
      &::before {
        background: var(--clr-primary-light3);
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 0;
        width: 15px;
        transition: all 0.5s;
      }

      &::after {
        content: "";
        width: 3px;
        background: var(--clr-primary-light3);
        display: block;
        position: absolute;
        top: 24px;
        bottom: 0;
        left: 6px;
        margin: 5px 0;
        transition: all 0.5s;
      }
    }

    .timeline-period {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
      color: var(--clr-secondary-dark2);
      transition: all 1s;
      width: max-content;
    }

    .timeline-content {
      transition: all 0.5s;

      .timeline-header {
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-family: PoppinsBold;
        padding: 1rem 0;
        transition: all 1s;
      }

      .teaser {
        height: 0px;
        overflow: hidden;
        padding: 0;
        transition: all 0.5s;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        animation: pulseText 1s ease-in-out infinite;
      }

      @keyframes pulseText {
        0% {
          color: var(--clr-accent);
        }
        25% {
          color: var(--clr-accent-b);
        }
        100% {
          color: var(--clr-accent);
        }
      }

      .subtopics {
        height: 0px;
        overflow: hidden;
        padding: 0;
        transition: all 0.5s;

        .topic {
          list-style: none;
        }
      }

      .success {
        height: 0px;
        overflow: hidden;
        color: var(--clr-accent-a);
        font-style: italic;
        transition: all 0.5s;
      }

      .btn-reference {
        height: 0px;
        overflow: hidden;
        border: none;
        transition: all 0.5s;
        background: var(--clr-accent);
        border-radius: 0.375rem;

        .item-link {
          text-decoration: none;
          color: var(--clr-primary);
        }
      }
    }
  }
}

// helperclass to animate items in focus of viewport
.timeline-focus {
  padding-left: 4rem !important;
  .timeline-marker {
    &::before {
      background: var(--clr-accent) !important;
      box-shadow: 0px 0px 5px 5px var(--clr-accent);
      height: 17px;
      width: 17px;
    }

    &::after {
      background: var(--clr-secondary-dark2) !important;
    }
  }

  .timeline-period {
    color: var(--clr-secondary) !important;
    letter-spacing: 3px !important;
    font-size: 16px !important;
    border-top: 1px solid var(--clr-accent);
  }
  .timeline-content {
    .timeline-header {
      font-size: 1.6rem !important;
      color: var(--clr-accent);
      letter-spacing: 3px !important;
    }

    .teaser {
      height: 30px !important;
    }
  }
}

// helperclass to assign to active timeline item to trigger content animation
.timeline-active {
  padding-bottom: 4rem;
  padding-left: 4rem !important;
  .timeline-marker {
    &::before {
      background: var(--clr-accent) !important;
      box-shadow: 0px 0px 5px 5px var(--clr-accent);
      height: 17px;
      width: 17px;
    }

    &::after {
      background: var(--clr-secondary-dark) !important;
    }
  }

  .timeline-period {
    padding-top: 5px;
    border-top: 1px solid var(--clr-accent);
  }

  .timeline-content {
    .timeline-header {
      font-size: 1.6rem !important;
      color: var(--clr-accent);
      letter-spacing: 3px !important;
    }

    .teaser {
      height: 0px !important;
      overflow: hidden !important;
      padding: 0 !important;
    }

    .subtopics {
      height: 180px !important;
      overflow: hidden;
      padding: 0;
      margin: 0;

      .topic {
        list-style: none;
      }
    }

    .success {
      height: 50px !important;
      overflow: hidden;
      margin: 0;
    }

    .btn-reference {
      height: auto !important;
      overflow: hidden;
      border: none;
      padding: 8px 12px;
      margin: 0.5rem 0 1rem 0;
    }
  }
}
