@use "../abstracts/" as *;

.skill-data-container {
  overflow: hidden;

  .skill-section-container {
    .section-control {
      position: absolute;
      opacity: 0;
      z-index: -1;
      &:checked ~ .skill-container {
        max-height: 10rem;
        margin-bottom: 1rem;
      }
    }

    .section-label {
      display: flex;
      justify-content: space-between;
      // padding: 1rem;
      cursor: pointer;
      transition: all 0.5s;
    }

    .skill-container {
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s;
    }
  }
}
