.dev-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100%;

  .dev-render-container {
    background: #eee;
    border: 1px solid lightsalmon;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
