@use "../abstracts/" as *;

.footer-main {
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  height: max-content;
  width: 100%;
  background: var(--clr-primary-light2);
  opacity: 0.9;

  .footer-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: $clr-accent-g;

    h5 {
      margin: 0;
      align-items: center;
      text-align: center;
      padding-top: 5px;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      margin: 0;
      li {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          padding: 0.5rem 1rem 0.5rem 1rem;
          font-size: 2rem;
          display: flex;
          align-items: center;
          transition: 0.5s;

          &:hover {
            i {
              transition: 0.5s;
              color: $clr-secondary;
            }
          }

          i {
            font-size: 2rem;
            transition: 0.5s;
            color: $clr-accent-g;
          }
        }
      }
    }
  }
}
