@use "../abstracts/" as *;

// helper classes
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.01s;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.01s;
}

.ref-next-pending {
  animation: pedingBlink 1s linear infinite;
}
.ref-next-pending-arrow {
  animation: pendingArrow 1s ease-in-out infinite;
}
