@use "../abstracts/" as *;

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 50px;

  .home-container {
    height: 100%;
    max-width: 1400px;
    width: 100%;
    color: var(--clr-secondary);

    .home-header-container {
      padding: 5rem;
      width: 100%;
      display: flex;
      justify-content: center;

      .home-header {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
      }

      .home-image {
        width: 250px;
        height: auto;
        padding: 1rem;

        img {
          object-fit: cover;
          border-radius: 100%;
          width: 100%;
          height: auto;
        }
      }
    }

    .home-intro {
      text-align: center;
      padding: 2rem;
      p {
        font-size: 1.2rem;
      }
    }

    .home-tech {
      padding: 2rem;
      text-align: center;

      .tech-header {
        padding-bottom: 1rem;
      }

      .tech-container {
        .tech-list {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          padding-left: 8px;
          list-style: none;
          align-items: center;

          li {
            font-size: 1.1rem;
            line-height: 2;
            color: var(--clr-secondary);
            font-weight: bold;
            width: 100%;

            i {
              width: 30px;
              font-size: 1.1rem;
              color: var(--clr-accent);
            }
          }
        }
      }
    }

    .home-testing {
      padding: 2rem;
      text-align: center;

      .testing-header {
        padding-bottom: 1rem;
      }

      .testing-container {
        .testing-list {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          padding-left: 8px;
          list-style: none;
          align-items: center;

          li {
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            line-height: 2;
            color: var(--clr-secondary);
            font-weight: bold;
            width: 100%;

            i {
              width: 30px;
              font-size: 1.1rem;
              color: var(--clr-accent);
            }
          }
        }
      }
    }

    .home-data-container {
      padding: 2rem;
      margin-bottom: 50px;
      text-align: center;
      .home-props {
        display: grid;
        grid-template-columns: 1fr 1fr;
        ul {
          padding-left: 1rem;
          list-style: none;
          li {
            line-height: 2;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
