.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  background: $clr-secondary-dark;

  .home-container {
    background: $clr-secondary-dark;
    height: 100%;
    max-width: 1400px;
    width: 100%;

    .home-header-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid $clr-accent-a;

      .home-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
      }

      .home-image {
        width: 150px;
        height: auto;
        padding: 1rem;

        img {
          object-fit: cover;
          border-radius: 100%;
          width: 100%;
          height: auto;
        }
      }
    }

    .home-intro {
      padding: 2rem;
      border-bottom: 1px solid $clr-accent-a;
      p {
        font-size: 1.2rem;
      }
    }

    .home-tech {
      padding: 2rem;
      border-bottom: 1px solid $clr-accent-a;
      .tech-header {
        padding-bottom: 1rem;
      }

      .tech-container {
        .tech-list {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          padding-left: 8px;
          list-style: none;
          align-items: center;

          li {
            font-size: 1.1rem;
            line-height: 2;
            color: $clr-primary-light2;
            font-weight: bold;
            width: 100%;

            i {
              width: 30px;
              font-size: 1.1rem;
              color: $clr-accent-e;
            }
          }
        }
      }
    }

    .home-testing {
      padding: 2rem;
      border-bottom: 1px solid $clr-accent-a;

      .testing-header {
        padding-bottom: 1rem;
      }

      .testing-container {
        .testing-list {
          display: grid;
          grid-template-columns: 1fr;
          padding-left: 8px;
          list-style: none;
          align-items: center;

          li {
            display: grid;
            grid-template-columns: 1fr 4fr;
            font-size: 1.1rem;
            line-height: 2;
            color: $clr-primary-light2;
            font-weight: bold;
            width: 100%;

            i {
              width: 30px;
              font-size: 1.1rem;
              color: $clr-accent-e;
            }

            .testing-browser-icon {
              margin-left: 20px;
            }
          }
        }
      }
    }

    .home-data-container {
      padding: 2rem;
      margin-bottom: 50px;
      .home-props {
        display: grid;
        grid-template-columns: 1fr 1fr;
        ul {
          padding-left: 1rem;
          list-style: none;
          li {
            line-height: 2;
            font-size: 1.1rem;
          }
        }

        ul li::before {
          content: "\2666";
          color: $clr-accent-e;
          font-weight: bold;
          display: inline-block;
          width: 1rem;
          margin-left: -1rem;
        }
      }
    }
  }
}
