.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  h3 {
    color: white;
    font-size: 1.5rem;
    opacity: 0;
    font-weight: 300;
    width: 90%;
  }

  #intro01 {
    animation-name: fadeInOutIntro;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }

  #intro02 {
    animation-name: fadeInOutIntro;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 1s;
  }
}

@keyframes fadeInOutIntro {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
