.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  p {
    white-space: nowrap;
    overflow: hidden;
    font-size: 25px;
    color: $clr-primary;
  }

  #text01 {
    animation: animated-text 2s steps(22, end) 1s 1 normal both,
      animated-cursor 600ms steps(22, end) infinite;
    animation-delay: 5s;
  }

  #text02 {
    animation: animated-text 2s steps(22, end) 1s 1 normal both,
      animated-cursor 600ms steps(22, end) infinite;
    animation-delay: 15s;
  }

  #intro01 {
    animation-name: textBlur;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 13s;
  }

  #intro02 {
    animation-name: textBlur;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 23s;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 500px;
  }
}

@keyframes animated-cursor {
  from {
    border-right: solid 5px $clr-accent-a;

    border-right-color: $clr-accent-a;
  }
  to {
    border-right: solid 5px $clr-accent-a;

    border-right-color: transparent;
  }
}

@keyframes textBlur {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
