.loading-container {
  .image-frame {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .portrait {
      height: 65%;
      max-height: 500px;
      width: 65%;
      max-width: 500px;

      animation-name: slideOutPortrait;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-duration: 0.5s;
      animation-delay: 2s;
    }
  }

  .loading-header {
    position: absolute;
    width: 100%;
    top: 65%;

    // TEMP
    animation-name: headerBlur;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 2s;
  }
}

// Animations
// @keyframes slideOutPortrait {
//   0% {
//     transform: translateX(0%);
//   }
//   25% {
//     border-radius: 100%;
//   }
//   100% {
//     transform: translateX(-200%);
//     opacity: 0.1;
//     height: 0%;
//     width: 0%;
//     border-radius: 100%;
//     // transform: translateY(-50%);
//   }
// }

// @keyframes headerBlur {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
