.loading-container {
  background: $color-secondary-dark;
  height: 100%;
  max-width: 1920px;
  width: 100%;

  .loading-header {
    width: 100%;
    padding: 20px 0;

    h1,
    h2 {
      padding: 20px;
    }
  }
}

// .container {
//   display: grid;
// }
