.menu-container {
  position: absolute;
  margin: 50px;
  top: 0;
  left: 0;

  .menu-item {
    position: absolute;
    height: 150px;
    width: 150px;
    border: 1px solid black;
  }
}
