.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary-light;
  border-bottom: 1px solid $color-secondary;

  .menu-frame {
    width: 100%;
    max-width: 1920px;
    height: 140px;
    opacity: 0;

    animation-name: makeVissible;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 0.1s;

    .menu-item-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 140px;
      opacity: 0;

      animation-name: makeVissible;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-duration: 0.1s;

      .menu-image-frame {
        z-index: 1;

        .menu-image {
          height: 120px;
          width: 120px;
          border-radius: 100%;
          margin: 10px 25px 10px 10px;
          z-index: 1;
        }
      }

      .menu-item {
        z-index: -1;
        position: relative;
        top: 0;
        margin: 20px 5px 20px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        cursor: pointer;

        height: 100px;
        width: 150px;
        border-radius: 5px;
        background: $color-accent-b;

        transform: translateX(-200px);

        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
        transition: top 0.2s ease-out;

        &:hover {
          background-color: $color-secondary;
          top: 20px;
        }

        span {
          display: block;
        }

        a,
        span {
          text-decoration: none;
          color: $color-primary-light;
          font-weight: 900;
          font-size: 1rem;
          margin-top: 10px;
        }

        .menu-icon {
          color: $color-primary-light;
          font-size: 3rem;
        }
      }

      #item1 {
        transform: translateX(-400px);
        animation-name: slideOutMenu;
        animation-delay: 0.5s;
      }
      #item2 {
        transform: translateX(-600px);
        animation-name: slideOutMenu;
        animation-delay: 0.4s;
      }
      #item3 {
        transform: translateX(-800px);
        animation-name: slideOutMenu;
        animation-delay: 0.3s;
      }
      #item4 {
        transform: translateX(-1000px);
        animation-name: slideOutMenu;
        animation-delay: 0.2s;
      }
      #item5 {
        transform: translateX(-1200px);
        animation-name: slideOutMenu;
        animation-delay: 0.1s;
      }
    }
  }
}

// Animations:
@keyframes slideOutMenu {
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideOutHeader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes makeVissible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
