.navbar {
  align-items: center;
  max-width: 1920px;

  .router-link-active,
  .router-link-exact-active {
    color: $clr-accent-g;
    border-bottom: 1px solid $clr-accent-g;
  }

  a {
    color: $clr-secondary;
    font-size: 1.2rem;
    transition: 0.5s;
    &:hover {
      color: $clr-primary !important;
      background: $clr-accent-g;
      transition: 0.5s;
    }
  }
}
