.navbar {
  //   background: $clr-primary-light2;
  //   border-bottom: 1px solid $clr-secondary;

  a {
    color: $clr-secondary;
    font-size: 1.2rem;
    &:hover {
      color: $clr-primary !important;
      background: $clr-accent-a;
    }
  }
}
