@use "../abstracts/" as *;

.navbar {
  align-items: center;
  min-width: 840px;
  max-width: 1600px;
  border-right: 2px solid $clr-secondary;

  .router-link-active,
  .router-link-exact-active {
    color: $clr-accent-g;
    border-bottom: 3px solid $clr-accent-e;
  }

  a {
    color: $clr-secondary;
    font-size: 1.2rem;
    transition: 0.5s;
    &:hover {
      color: $clr-primary !important;
      background: $clr-accent-g;
      transition: 0.5s;
    }
  }
}
