@use "../abstracts/" as *;

.outro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .outro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    max-width: 1400px;
    color: var(--clr-secondary-dark);
    padding: 2rem;
    margin-bottom: 50px;

    > h3 {
      grid-column: 1 / end;
      color: var(--clr-accent);
      text-align: center;
      padding: 1rem 0;
    }

    .outro-content-main {
      font-size: 1.2rem;
      margin-bottom: 30px;
      grid-column: 1 / end;
      text-align: center;
      padding: 2rem;
      line-height: 1.7;
    }

    .outro-content {
      padding: 2rem;
      margin-bottom: 10px;

      h5 {
        color: $clr-accent;
        font-size: 1.5rem;
        font-weight: bold;
      }

      ul {
        margin-bottom: 0;
        padding-left: 1rem;

        li {
          font-size: 1.2rem;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
