.data-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  padding: 2rem;
  color: #0145ff;

  .personal-data-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;

    h2 {
      margin-bottom: 20px;
    }

    .propertie-container,
    .hobby-container {
      text-align: left;
      background-color: #333;
      padding: 2rem;
      border-radius: 10px;
      width: 45%;
      margin-bottom: 20px;

      li {
        font-size: 0.9rem;
      }
    }
  }

  .skill-data-container {
    height: auto;
    width: 100%;
    padding: 1rem;
    background: #333;
    border-radius: 10px;

    h2 {
      color: white;
      padding: 2rem;
    }

    h3 {
      padding-top: 20px;
      color: white;
      font-weight: 300;
      text-align: left;
    }

    .skill-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: nowrap;

      &:last-child {
        margin-bottom: 0;
      }

      .skill-icon {
        font-size: 1.7rem;
        padding-right: 10px;
        color: white;
        width: 10%;
      }
      .skill-name {
        text-transform: uppercase;
        width: 20%;
        min-width: 150px;
        color: white;
        text-align: left;
      }

      .skill-rating {
        width: 15%;
        color: white;
        margin-right: 10px;
        padding-left: 10px;
        border-left: 1px solid white;
      }

      .progress-bar {
        width: 100%;
        height: 12px;
        background-color: #f0f0f0;
        border-radius: 10px;
        overflow: hidden;

        .progress {
          height: 100%;
          background-color: #007bff;
          animation: progressAnimation 1s linear;
          border-right: 3px solid black;
        }
      }
    }
  }
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
}
