.data-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1920px;

  .skill-data-container {
    height: auto;
    width: 100%;
    max-width: 1250px;
    min-width: 850px;
    padding: 1rem;

    h2 {
      color: $clr-primary;
      padding: 1rem 0;
    }

    h3 {
      padding-top: 20px;
      color: $clr-primary;
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
    }

    .skill-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      flex-wrap: nowrap;

      &:last-child {
        margin-bottom: 0;
      }

      .skill-icon {
        font-size: 1.7rem;
        padding-right: 10px;
        color: $clr-accent-c;
        width: 5%;
      }
      .skill-name {
        text-transform: uppercase;
        width: 25%;
        min-width: 150px;
        color: $clr-primary;
        text-align: left;
      }

      .skill-rating {
        width: 10%;
        color: $clr-primary;
        padding-left: 10px;
        font-weight: bold;
      }

      .progress-bar {
        width: 100%;
        height: 20px;
        background-color: #f0f0f0;
        box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;

        .progress {
          height: 100%;
          background-color: $clr-accent-e;
          animation: progressAnimation 1s linear;
          border-right: 1px solid black;
          border-radius: 0;
        }
      }
    }
  }
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
}
