.intro-container {
  position: absolute;
}

.readycheck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;

  animation-name: fadeInReadyCheck;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 25s;

  .form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    background: $clr-primary-light3;

    form {
      padding: 1rem;
      min-width: 500px;
      max-width: 1250px;
      height: max-content;

      h3 {
        color: $clr-secondary;
        padding: 2rem;
        font-size: 1.5rem;
        text-align: center;
      }

      .input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-checkbox {
          display: block;
          background: $clr-secondary;
          width: 30px;
          height: 30px;
          opacity: 1;
          z-index: 1;
        }

        .input-label {
          color: $clr-secondary;
          padding: 1rem;
          margin-left: 10px;
          font-size: 1.2rem;
          text-align: left;
          width: 100%;
        }

        .icon-container {
          .input-icon {
            color: $clr-primary-light2;
            font-size: 1.5rem;
          }
        }
        input:checked ~ .icon-container .input-icon {
          transition: 0.6s;
          color: $clr-secondary;
        }

        input:checked ~ .input-label {
          transition: 0.6s;
          color: $clr-accent-e;
        }

        input:checked ~ .icon-container .input-icon {
          transition: 0.6s;
          font-size: 2rem;
        }
      }

      .button-container {
        display: flex;
        justify-content: flex-start;

        button {
          background-color: $clr-primary-light2;
          color: $clr-secondary;
          border: none;
          border-radius: 5px;
          border: 1px solid $clr-secondary;
          padding: 1rem;
          width: 100%;
          margin-top: 25px;
          transition: 0.5s;
          font-weight: 600;
          font-size: 1.2rem;

          &:disabled {
            transition: 1s;
            color: $clr-primary-light3;
            background: $clr-primary-light3;
            border: 1px solid $clr-primary-light3;
            &:hover {
              background: $clr-primary-light3;
            }
          }

          &:hover {
            background: $clr-secondary;
            color: $clr-accent-e;
          }
        }
      }
    }
  }
}

@keyframes fadeInReadyCheck {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none !important;
}
