.intro-container {
  position: absolute;
}

.readycheck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;

  animation-name: fadeInReadyCheck;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 15s;

  .readycheck-background {
    height: 100%;
    width: 100%;
    background-image: url(https://i.imgur.com/pFFEJDg.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    z-index: -1;
    filter: grayscale(0.4);
    animation: moveBackground 300s linear infinite;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    background: rgba($color: $clr-primary, $alpha: 0.4);
    border-top: 3px solid $clr-accent-e;
    border-bottom: 3px solid $clr-accent-e;

    form {
      padding: 1rem;
      min-width: 500px;
      max-width: 1250px;
      height: max-content;

      h3 {
        color: $clr-secondary;
        padding: 2rem 0 0 0;
        font-size: 2rem;
        text-align: center;
      }

      p {
        color: $clr-secondary;
        padding: 0 0 2rem 0;
        font-size: 1.1rem;
        text-align: center;
      }

      .input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-checkbox {
          display: block;
          background: $clr-secondary;
          width: 30px;
          height: 30px;
          opacity: 1;
          z-index: 1;
        }

        .input-label {
          display: flex;
          justify-content: space-between;
          color: $clr-secondary-dark;
          margin-left: 30px;
          padding-left: 10px;
          font-size: 1.2rem;
          text-align: left;
          width: 100%;
        }

        .icon-container {
          .input-icon {
            color: $clr-primary-light3;
            font-size: 1.7rem;
            opacity: 0.3;
          }
        }
        input:checked ~ .icon-container .input-icon {
          transition: 0.4s;
          color: $clr-secondary;
          opacity: 1;
        }

        input:checked ~ .input-label {
          transition: 0.4s;
          color: $clr-secondary;
        }

        input:checked ~ .icon-container .input-icon {
          transition: 0.4s;
          // font-size: 1.5rem;
        }
      }

      .button-container {
        display: flex;
        justify-content: center;

        button {
          background-color: $clr-secondary;
          color: $clr-accent-e;
          border: none;
          border-radius: 5px;
          padding: 1rem 3rem;
          width: max-content;
          margin-top: 25px;
          transition: 0.5s;
          font-weight: 600;
          font-size: 1.2rem;

          &:disabled {
            transition: 1s;
            color: transparent;
            background: transparent;
            &:hover {
              color: transparent;
              background: transparent;
            }
          }

          &:hover {
            background: $clr-secondary-dark2;
            color: $clr-primary-light2;
          }
        }
      }
    }
  }
}

@keyframes fadeInReadyCheck {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none !important;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

// custom checkbox:
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: -30px;
  border-radius: 100%;
  border: 1px solid $clr-accent-e;
  height: 25px;
  width: 25px;
  background-color: $clr-secondary;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: $clr-secondary-dark2;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $clr-accent-e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0px 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
