@use "../abstracts/" as *;

// helper class to hide and show element per default
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.01s;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.01s;
}

.ref-wrapper {
  display: flex;
  justify-content: center;

  .ref-container {
    max-width: 1400px;
    color: var(--clr-secondary-dark2);

    .ref-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 10rem 0;

      .grid-container {
        width: 100%;
        overflow: hidden;
        padding: 2rem;

        &:nth-of-type(1) {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-wrap: wrap;
        }

        &:nth-of-type(2) {
        }

        .ref-header {
          color: var(--clr-secondary);
          width: 100%;
        }

        .ref-text {
          width: 100%;
        }

        .ref-subheader {
          color: var(--clr-secondary);
          width: 100%;
        }

        .ref-subtopics {
          width: 100%;
          padding: 0;

          .ref-topic {
            list-style: none;
          }
        }

        .ref-image {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }

        .btn-container {
          width: 100%;

          .ref-repo-btn {
            border: none;
            padding: 8px 12px;
            border-radius: 0.375rem;
            width: max-content;
            background: var(--clr-accent);
            .repo-link {
              color: var(--clr-primary);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
