.reference-grid-container {
  display: grid;
  grid-template-columns: 1fr;

  .reference-container,
  .reference-container-reverse {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding: 1rem;
    border-top: 1px solid black;
    margin-bottom: 30px;
  }

  .reference-container-reverse {
    grid-template-columns: 7fr 5fr;
  }

  .reference-info {
    text-align: left;
  }

  .media-container,
  .media-container-reverse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .media-container-reverse {
    justify-content: flex-start;
  }

  h3 {
    padding: 1rem;
  }

  img {
    height: auto;
    width: 100%;
    max-width: 90%;
  }
}
