.reference-grid-container {
  display: grid;
  grid-template-columns: 1fr;

  .reference-container,
  .reference-container-reverse {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 1rem;
    border-top: 1px solid black;
    margin-bottom: 30px;
    align-items: center;
    background: #333;
    color: white;
  }

  .reference-container-reverse {
    grid-template-columns: 7fr 5fr;
  }

  .description-container {
    padding: 1rem;
  }

  .reference-info {
    text-align: left;
  }

  .media-container,
  .media-container-reverse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .media-container-reverse {
    justify-content: flex-start;
  }

  p {
    display: inline-block;
    padding-bottom: 2rem;
    hyphens: auto;
    word-wrap: break-word;
    line-height: 1.4;
    border-bottom: 1px solid white;
  }

  h2 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  h3 {
    padding: 1rem;
    font-size: 1.2rem;
  }

  h3,
  ul {
    text-align: left;
    li {
      margin-left: 20px;
      line-height: 1.4;
    }
  }

  img {
    height: auto;
    width: 100%;
    // max-width: 100%;
    object-fit: cover;
  }
}
