.sales-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $color-secondary;

  .sales-data-container {
    width: 100%;
    max-width: 1920px;

    h1 {
      margin: 2rem;
      color: $color-accent-b;
      text-transform: uppercase;
    }
  }
}
