@use "../abstracts/" as *;

// accordion like animation config
.skill-data-container {
  overflow: hidden;

  .skill-section-container {
    .section-control {
      position: absolute;
      opacity: 0;
      z-index: -1;
      &:checked ~ .test {
        height: 400px;
        transition: all 0.5s;

        .skill-container {
          max-height: 10rem;
          margin-bottom: 5px;
        }
      }
    }

    .section-label {
      display: flex;
      justify-content: space-between;
      // padding: 1rem;
      cursor: pointer;
      transition: all 0.5s;
    }

    .test {
      height: 0px;
      overflow: hidden;
      transition: all 0.5s;

      .skill-container {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
      }
    }
  }
}

.skill-section-open {
  // pulse arrow to indicate more content
  // color: var(--clr-accent) !important;
  letter-spacing: 7px;
  transform: translateX(50px);
  transition: all 2s !important;

  &::before {
    transition: all 1s;
    font-size: 2rem !important;
    rotate: 0deg !important;
    animation: none !important; /* Stops the animation */
    transform: none !important; /* Resets the transform property */
  }
}

// helper classes for different colors
.section0-active {
  color: var(--clr-accent) !important;
}
.section1-active {
  color: var(--clr-accent-c) !important;
}
.section2-active {
  color: var(--clr-accent-f) !important;
}

// bar control
$bar-height: 6px;

.skill-data-container {
  width: 100%;
  max-width: 1250px;
  padding: 2rem;
  transition: all 0.5s;

  .skill-section-container {
    margin-bottom: 3rem;
    .section-label {
      color: var(--clr-secondary);
      font-size: 2rem;
      padding: 1rem 0 0 0;
      width: max-content;
      transition: all 0.5s;
      &::before {
        content: "\27A4";
        margin-right: 20px;
        font-size: 1rem;
        transform: rotate(90deg);
        rotate: 90deg;
        transition: all 0.5s;
        animation: pulse 1s linear infinite;
      }
    }

    @keyframes pulse {
      0% {
        transform: translateY(-15px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-15px);
      }
    }

    .section-description {
      color: var(--clr-secondary-dark2);
      font-size: 1.2rem;
      padding: 1rem 2rem;
      margin: 0;
    }

    .skill-container {
      width: 100%;

      .render-decider {
        display: grid;
        grid-template-columns: 5% 95%;
        align-items: end;
        .icon {
          justify-self: end;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          height: 40px;
          width: 40px;

          padding-top: 15px;
          border-radius: 100%;

          i {
            color: var(--bar-color);
            font-size: 1.5rem;
          }
        }

        .bar-container {
          padding-left: 10px;
          .label {
            color: white;
            font-size: 1rem;
            font-weight: 100;
            text-transform: uppercase;
            animation: label 1s ease-out 1s forwards;
            opacity: 0;
          }
          .progress-bar {
            height: $bar-height;
            position: relative;
            border-radius: calc($bar-height / 2);
            background-color: var(--clr-primary-light3);
            overflow: visible;

            .progress {
              height: 100%;
              width: 0%;
              background: linear-gradient(
                90deg,
                var(--bar-color) 90%,
                var(--bar-glow) 99%
              );
              border-radius: calc($bar-height / 2);
              overflow: visible;
              border-right: $bar-height solid var(--bar-glow);
              animation: progAnimate ease-in;
            }

            @keyframes progAnimate {
              0% {
                width: 0%;
                background: var(--bar-glow);
              }
              100% {
                background: var(--bar-color);
              }
            }

            .glow {
              position: relative;
              left: 100%;
              height: $bar-height;
              width: $bar-height;
              background: var(--bar-glow);
              border-radius: 100%;
              box-shadow: 0px 0px $bar-height 2px var(--bar-glow);
            }
          }
        }
      }

      @keyframes label {
        0% {
          opacity: 0;
          transform: translateX(100px);
        }
        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
  }
}
