@use "../abstracts/" as *;

.theme-light {
  * {
    font-weight: 500;
  }

  .navbar-wrapper {
    background: rgba($color: $clr-secondary, $alpha: 0.9);
  }

  .cv-main {
    background: linear-gradient(
      180deg,
      var(--clr-primary) 0%,
      var(--clr-primary-light3) 80%
    );
  }

  .home-tech {
    .tech-container {
      .tech-list li:nth-of-type(1) i {
        color: lighten($clr-accent, 5%) !important;
      }
      .tech-list li:nth-of-type(2) i {
        color: lighten($clr-accent, 0%) !important;
      }
      .tech-list li:nth-of-type(3) i {
        color: darken($clr-accent, 5%) !important;
      }
      .tech-list li:nth-of-type(4) i {
        color: darken($clr-accent, 10%) !important;
      }
      .tech-list li:nth-of-type(5) i {
        color: darken($clr-accent, 15%) !important;
      }
      .tech-list li:nth-of-type(6) i {
        color: darken($clr-accent-c, 10%) !important;
      }
      .tech-list li:nth-of-type(7) i {
        color: darken($clr-accent-c, 0%) !important;
      }
      .tech-list li:nth-of-type(8) i {
        color: lighten($clr-accent-c, 10%) !important;
      }
      .tech-list li:nth-of-type(9) i {
        color: darken($clr-accent-f, 10%) !important;
      }
      .tech-list li:nth-of-type(10) i {
        color: lighten($clr-accent-f, 5%) !important;
      }
      .tech-list li:nth-of-type(11) i {
        color: lighten($clr-accent-f, 0%) !important;
      }
      .tech-list li:nth-of-type(12) i {
        color: lighten($clr-accent-f, 5%) !important;
      }
      .tech-list li:nth-of-type(13) i {
        color: darken($clr-accent-f, 10%) !important;
      }
    }
  }

  .personal-data-wrapper {
    .progress-bar {
      background: var(--clr-secondary-dark3) !important;
      .progress {
        .glow {
          display: none !important;
        }
      }
    }
  }

  .timeline-wrapper {
    .timeline-marker {
      &::after {
        background-color: var(--clr-secondary-dark3) !important;
      }
    }
    .success {
      color: var(--clr-accent) !important;
      font-weight: 900;
    }

    .timeline-focus {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.05) 20%
      ) !important;
    }
  }

  .ref-wrapper {
    .repo-link {
      color: var(--clr-secondary) !important;
    }
  }
}
