@use "../abstracts/" as *;

.theme-light {
  .nav-toggle-theme {
    .toggle-theme-btn-container {
      border: 1px solid var(--clr-secondary-dark3);
      border-radius: 0.375rem;
    }
  }
  .nav-toggle-lang {
    .toggle-lang-btn-container {
      .toggle-radio {
        border: 1px solid var(--clr-secondary-dark3);
        border-radius: 0.375rem;
      }
      .switch {
        label {
          color: var(--clr-secondary-dark3);
        }
      }
      #de:checked ~ .switch label[for="de"] {
        color: var(--clr-accent);
        font-family: PoppinsBold;
      }
      #en:checked ~ .switch label[for="en"] {
        color: var(--clr-accent);
        font-family: PoppinsBold;
      }
    }
  }

  .navbar-wrapper {
    background: rgba($color: $clr-secondary, $alpha: 0.9);
    .navbar {
      .container-fluid {
        .navbar-toggler {
          .navbar-toggler-icon {
            filter: invert(1);
          }
        }
      }
    }
    .offcanvas {
      background: rgba($color: $clr-secondary, $alpha: 0.7) !important;
      backdrop-filter: blur(5px);
      .offcanvas-header {
        button {
          filter: invert(0) !important;
        }
      }
    }
  }

  .cv-main {
    background: linear-gradient(
      180deg,
      var(--clr-primary) 0%,
      var(--clr-primary-light3) 80%
    );
  }

  .home-wrapper {
    .home-image {
      img {
        box-shadow: 3px 3px 10px 0px var(--clr-secondary-dark3);
      }
    }

    .home-tech {
      .tech-container {
        .tech-list li:nth-of-type(1) i {
          color: lighten($clr-accent, 5%) !important;
        }
        .tech-list li:nth-of-type(2) i {
          color: lighten($clr-accent, 0%) !important;
        }
        .tech-list li:nth-of-type(3) i {
          color: darken($clr-accent, 5%) !important;
        }
        .tech-list li:nth-of-type(4) i {
          color: darken($clr-accent, 10%) !important;
        }
        .tech-list li:nth-of-type(5) i {
          color: darken($clr-accent, 15%) !important;
        }
        .tech-list li:nth-of-type(6) i {
          color: darken($clr-accent-c, 10%) !important;
        }
        .tech-list li:nth-of-type(7) i {
          color: darken($clr-accent-c, 0%) !important;
        }
        .tech-list li:nth-of-type(8) i {
          color: lighten($clr-accent-c, 10%) !important;
        }
        .tech-list li:nth-of-type(9) i {
          color: darken($clr-accent-f, 10%) !important;
        }
        .tech-list li:nth-of-type(10) i {
          color: lighten($clr-accent-f, 5%) !important;
        }
        .tech-list li:nth-of-type(11) i {
          color: lighten($clr-accent-f, 0%) !important;
        }
        .tech-list li:nth-of-type(12) i {
          color: lighten($clr-accent-f, 5%) !important;
        }
        .tech-list li:nth-of-type(13) i {
          color: darken($clr-accent-f, 10%) !important;
        }

        .tech-list {
          .tech-list-item {
            font-weight: 900 !important;
          }
        }
      }
    }
  }

  .personal-data-wrapper {
    .progress-bar {
      background: var(--clr-secondary-dark3) !important;
      .progress {
        .glow {
          display: none !important;
        }
      }
    }
  }

  .timeline-wrapper {
    .timeline-header {
      color: var(--clr-secondary);
    }

    .timeline-marker {
      &::after {
        background-color: var(--clr-secondary-dark3) !important;
      }
    }
    .success {
      color: var(--clr-accent) !important;
      font-weight: 900;
    }

    .timeline-focus {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.05) 20%
      ) !important;
    }
  }

  .ref-wrapper {
    .repo-link {
      color: var(--clr-secondary) !important;
    }

    .ref-image {
      box-shadow: 3px 3px 10px 0px var(--clr-secondary-dark3) !important;
    }
  }

  .modal-render-container {
    .modal-header {
      background: rgba($color: white, $alpha: 0.9);
    }
  }
}
