@use "../abstracts/" as *;

.toggle-button-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
  .toggle-radio {
    .switch {
      position: relative;
      width: 100px;
      height: 30px;
      padding: 8px 12px;
      text-align: center;
      background: $clr-accent;
      transition: all 0.4s ease;
      border-radius: 0.375rem;

      label {
        font-family: PoppinsBold;
      }
    }

    input[type="radio"] {
      display: none;
    }

    .switch label {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.2);
      width: 60px;
      line-height: 40px;
      transition: all 0.4s ease;
    }
    label[for="de"] {
      position: absolute;
      left: 0px;
      top: -4px;
      height: 100%;
    }
    label[for="en"] {
      position: absolute;
      right: 0px;
      top: -4px;
      height: 100%;
    }
    #en:checked ~ .switch {
      background: var(--clr-accent-f);
    }

    #de:checked ~ .switch label[for="de"] {
      color: $clr-secondary;
    }
    #en:checked ~ .switch label[for="en"] {
      color: $clr-secondary;
    }
  }
}
