.toggle-radio {
  margin-left: 20px;

  .separator {
    position: relative;
    top: -13px;
    font-size: 40px;
    color: $clr-primary-light2;
  }
  .switch {
    position: relative;
    width: 100px;
    height: 35px;
    text-align: center;
    background: $clr-accent;
    transition: all 0.4s ease;
    border-radius: 25px;
  }

  input[type="radio"] {
    display: none;
  }
  .switch label {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
    width: 60px;
    line-height: 40px;
    transition: all 0.4s ease;
  }
  label[for="de"] {
    position: absolute;
    left: 0px;
    height: 20px;
  }
  label[for="en"] {
    position: absolute;
    right: 0px;
  }
  #en:checked ~ .switch {
    background: $clr-accent-f;
  }
  #en:checked ~ .switch span {
    margin-left: -8px;
  }
  #en:checked ~ .switch span:after {
    background: $clr-secondary;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #de:checked ~ .switch label[for="de"] {
    color: $clr-secondary;
  }
  #en:checked ~ .switch label[for="en"] {
    color: $clr-secondary;
  }
}
