.modal-wrapper {
  cursor: pointer;

  .click-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  .click-text {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 50%;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    border-radius: 5px;
  }

  .image-frame {
    filter: grayscale(75%);
    transform: scale(1);
    transition: 0.3s;
  }

  .image-frame:hover {
    filter: grayscale(0%);
    transform: scale(1.01);
    transition: 0.3s;
  }

  .modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;

    .modal-control {
      display: flex;
      justify-content: space-between;

      .modal-header {
        color: white;
        border: none;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: none;
        margin: 0;
      }

      .modal-close-button {
        background: none;
        border: none;
        i {
          color: $clr-accent-e;
          font-size: 1.4rem;
          transition: 0.2s;
        }

        &:hover i {
          color: $clr-secondary;
          font-size: 1.5rem;
          transition: 0.2s;
        }
      }
    }
  }

  .modal-content {
    width: 90%;
    height: auto;
    padding: 20px;
    background: #222;
  }
}
