@use "../abstracts/" as *;
// helper class for scroll disabling while in full screen
.scroll-disabled {
  overflow: hidden !important;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.9);
  color: $clr-secondary;
  z-index: 99;

  .modal-image-wrapper {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .modal-header {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0.5rem;
      font-size: 1.5rem;
      text-align: center;
      color: var(--clr-accent);
      font-family: PoppinsBold;
      background: rgba($color: #000000, $alpha: 0.9);
    }
    .modal-gallery-image {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      display: block;
      object-fit: contain;
    }
    .btn-modal-close {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 1rem;
      background: transparent;
      border: none;
      color: var(--clr-error);
      font-size: 2rem;
      transition: all 0.3s;
      &:hover {
        color: var(--clr-secondary);
      }
    }
  }
}
